/*
D=deceiver(Betrüger)
M=Mod(Moderator)
H=honest(ehrlich)
I=Increaser(Erhöher)
E=Extender(Verlängerer)
*/
/*Inkognito made by Inkognito*/
.listusersrow a[href$='watchuser&act_user_id=1131']:before{ content:'(H) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=1131']:before{ content:'(H) '; color:#cc0000;}
.listusersrow a[href$='watchuser&act_user_id=1131']:after{ content:' * (-)'; color:#FF6600;}
.friendlist a[href$='watchuser&act_user_id=1131']:after{ content:' * (-)'; color:#FF6600;}
.listusersrow a[href$='watchuser&act_user_id=1131']:hover:after{ content:' STYLE-MANAGER (no Skills)'; color:#FF6600;}
.friendlist a[href$='watchuser&act_user_id=1131']:hover:after{ content:' STYLE-MANAGER (no Skills)'; color:#FF6600;}
/*ChaKuZa made by Inkognito*/
.listusersrow a[href$='watchuser&act_user_id=1362']:before{ content:'(H) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=1362']:before{ content:'(H) '; color:#cc0000;}
.listusersrow a[href$='watchuser&act_user_id=1362']:after{ content:' (I)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1362']:after{ content:' (I)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1362']:hover:after{ content:' (Increaser)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1362']:hover:after{ content:' (Increaser)'; color:#339966;}
/*Linus made by Inkognito*/
.listusersrow a[href$='watchuser&act_user_id=900']:before{ content:'(H) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=900']:before{ content:'(H) '; color:#cc0000;}
.listusersrow a[href$='watchuser&act_user_id=900']:after{ content:' (E)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=900']:after{ content:' (E)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=900']:hover:after{ content:' (Extender(128%))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=900']:hover:after{ content:' (Extender(128%))'; color:#339966;}
/*Innocent made by Inkognito*/
.listusersrow a[href$='watchuser&act_user_id=102353']:before{ content:'(M) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=102353']:before{ content:'(M) '; color:#cc0000;}
.listusersrow a[href$='watchuser&act_user_id=102353']:after{ content:' * (M)'; color:#FF6600;}
.friendlist a[href$='watchuser&act_user_id=102353']:after{ content:' * (M)'; color:#FF6600;}
.listusersrow a[href$='watchuser&act_user_id=102353']:hover:after{ content:' STYLE-MANAGER (Magic Chest Opener(26))'; color:#FF6600;}
.friendlist a[href$='watchuser&act_user_id=102353']:hover:after{ content:' STYLE-MANAGER (Magic Chest Opener(26))'; color:#FF6600;}
/*iPush made by Innocent*/
.listusersrow a[href$='watchuser&act_user_id=3625']:before{ content:'(H) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=13625']:before{ content:'(H) '; color:#cc0000;}
.listusersrow a[href$='watchuser&act_user_id=3625']:after{ content:' (I)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=3625']:after{ content:' (I)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=3625']:hover:after{ content:' (Increaser)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=3625']:hover:after{ content:' (Increaser)'; color:#339966;}
/*Noir made by Innocent*/
.listusersrow a[href$='watchuser&act_user_id=1707']:before{ content:'(H) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=1707']:before{ content:'(H) '; color:#cc0000;}
.listusersrow a[href$='watchuser&act_user_id=1707']:after{ content:' (I, E)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1707']:after{ content:' (I, E)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1707']:hover:after{ content:' (Increaser,Extender(175%))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1707']:hover:after{ content:' (Increaser,Extender(175%))'; color:#339966;}