/*Absperrband made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Absperrband',"]{color:#FF8000;}
/*Alter Schreibstift made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Alter Schreibstift',"]{color:#FF8000;}
/*Angel des Auftragshauses made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Angel des Auftragshauses',"]{color:#FF8000;}
/*Auffangschale made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Auffangschale',"]{color:#FF8000;}
/*Auffangschale mit Blut made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Auffangschale mit Blut',"]{color:#FF8000;}
/*Auftragsdiebstahlzauber made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Auftragsdiebstahlzauber',"]{color:#FF8000;}
/*Auftragsschutz made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Auftragsschutz',"]{color:#FF8000;}
/*Blaukornsonnenblume made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Blaukornsonnenblume',"]{color:#FF8000;}
/*Drucknuss made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Drucknuss',"]{color:#FF8000;}
/*Gesichtscreme made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Gesichtscreme',"]{color:#FF8000;}
/*Gewürzbohnen made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Gewürzbohnen',"]{color:#FF8000;}
/*Gift gegen Einflügler made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Gift gegen Einflügler',"]{color:#FF8000;}
/*giftiger Müll made by Werwolf*/
td.areadescription table b[onmouseover^="tt('giftiger Müll',"]{color:#FF8000;}
/*Goldwäschesieb made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Goldwäschesieb',"]{color:#FF8000;}
/*Ingerium made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Ingerium',"]{color:#FF8000;}
/*Koloa-Bohne made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Koloa-Bohne',"]{color:#FF8000;}
/*Kühlbox mit Gewebeproben made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Kühlbox mit Gewebeproben',"]{color:#FF8000;}
/*Phasenkugel made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Phasenkugel',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('Phasenkugel',"]:after {content :' (18gm)'; color:#000000; font-size : 9px;}
/*Schafschergerät made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Schafschergerät',"]{color:#FF8000;}
/*schwacher Tarnzauber made by Werwolf*/
td.areadescription table b[onmouseover^="tt('schwacher Tarnzauber',"]{color:#FF8000;}
/*Stahlkäfig made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Stahlkäfig',"]{color:#FF8000;}
/*Steak mit Augen made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Steak mit Augen',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('Steak mit Augen',"]:after {content :' (43gm)'; color:#FF8000; font-size : 9px;}
/*Tierfutter made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Tierfutter',"]{color:#FF8000;}
/*toter Gewebewurm made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('toter Gewebewurm',"]{color:#FF8000;}
/*versiegelter Brief made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('versiegelter Brief',"]{color:#FF8000;}
/*weiße Laubnelke made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('weiße Laubnelke',"]{color:#FF8000;}
/*weiße Rose made by Werwolf*/
td.areadescription table b[onmouseover^="tt('weiße Rose',"]{color:#FF8000;}
/*Wetterkontroll-Kristall made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Wetterkontroll-Kristall',"]{color:#FF8000;}
