/*Buch der Phasenenergiemaximierung made by Werwolf*/
.itemname[onmouseover^='tt("Buch der Phasenenergiemaximierung"']{color:#0000FF;}
/*Drehscheibe der inneren Macht made by Werwolf*/
.itemname[onmouseover^='tt("Drehscheibe der inneren Macht"']{color:#0000FF;}
/*Meisterhammer made by Werwolf*/
.itemname[onmouseover^='tt("Meisterhammer"']{color:#0000FF;}
/*Statue der gro�en Kraft made by Werwolf*/
.itemname[onmouseover^='tt("Statue der gro�en Kraft"']{color:#0000FF;}
/*Stab der Heilung made by Werwolf*/
.itemname[onmouseover^='tt("Stab der Heilung"']{color:#0000FF;}
/*Ausgebrannter Geisterschild made by Werwolf*/
.itemname[onmouseover^='tt("Ausgebrannter Geisterschild"']{color:#0000FF;}
/*Blauer Stein der Selbstheilung made by Werwolf*/
.itemname[onmouseover^='tt("Blauer Stein der Selbstheilung"']{color:#0000FF;}
/*Goldener Zaubertopf made by Werwolf*/
.itemname[onmouseover^='tt("Goldener Zaubertopf"']{color:#0000FF;}
/*Stab der knisternden Heilung made by Werwolf*/
.itemname[onmouseover^='tt("Stab der knisternden Heilung"']{color:#0000FF;}
/*Koloa-M�hle made by Werwolf*/
.itemname[onmouseover^='tt("Koloa-M�hle"']{color:#0000FF;}
/*Kugelstampfer made by Werwolf*/
.itemname[onmouseover^='tt("Kugelstampfer"']{color:#0000FF;}
/*Ausgrabungsschaufel made by Werwolf*/
.itemname[onmouseover^='tt("Ausgrabungsschaufel"']{color:#0000FF;}
/*Zauberkugel-Klebemaschine made by Werwolf*/
.itemname[onmouseover^='tt("Zauberkugel-Klebemaschine"']{color:#0000FF;}
/*Fels der Phasenselbstheilung made by Werwolf*/
.itemname[onmouseover^='tt("Fels der Phasenselbstheilung"']{color:#0000FF;}
/*Goldw�rfel made by Werwolf*/
.itemname[onmouseover^='tt("Goldw�rfel"']{color:#0000FF;}
/*Defekte Portalmaschine made by Werwolf*/
.itemname[onmouseover^='tt("Defekte Portalmaschine"']{color:#0000FF;}
/*Zauberkugelpresse made by Werwolf*/
.itemname[onmouseover^='tt("Zauberkugelpresse"']{color:#0000FF;}
/*Buch der Pflanzenkunde made by Werwolf*/
.itemname[onmouseover^='tt("Buch der Pflanzenkunde"']{color:#0000FF;}
/*Stab der gro�en Gruppenheilung made by Werwolf*/
.itemname[onmouseover^='tt("Stab der gro�en Gruppenheilung"']{color:#0000FF;}
/*Spiegel der Markthalle made by Werwolf*/
.itemname[onmouseover^='tt("Spiegel der Markthalle"']{color:#0000FF;}
/*Seelenkapselmixer made by Werwolf*/
.itemname[onmouseover^='tt("Seelenkapselmixer"']{color:#0000FF;}
/*Buch der Labortechnik made by Werwolf*/
.itemname[onmouseover^='tt("Buch der Labortechnik"']{color:#0000FF;}
/*Gr�ner Stein der Selbstheilung made by Werwolf*/
.itemname[onmouseover^='tt("Gr�ner Stein der Selbstheilung"']{color:#0000FF;}
/*Buch der Seelenverbindung made by Werwolf*/
.itemname[onmouseover^='tt("Buch der Seelenverbindung"']{color:#0000FF;}
/*Blaue Perle des Wissens made by Werwolf*/
.itemname[onmouseover^='tt("Blaue Perle des Wissens"']{color:#0000FF;}
/*Buch des Zaubertruhenwissens made by Werwolf*/
.itemname[onmouseover^='tt("Buch des Zaubertruhenwissens"']{color:#0000FF;}
/*Buch der Handwerkskunst made by Werwolf*/
.itemname[onmouseover^='tt("Buch der Handwerkskunst"']{color:#0000FF;}
/*Gr�ner Kugelschneider made by Werwolf*/
.itemname[onmouseover^='tt("Gr�ner Kugelschneider"']{color:#0000FF;}
/*Sockel des Wissens made by Werwolf*/
.itemname[onmouseover^='tt("Sockel des Wissens"']{color:#0000FF;}
/*Splitter der Genesung made by Werwolf*/
.itemname[onmouseover^='tt("Splitter der Genesung"']{color:#0000FF;}
/*stark durchschlagende Armbrust made by Werwolf*/
.itemname[onmouseover^='tt("stark durchschlagende Armbrust"']{color:#0000FF;}
/*blaue Flamme der Ewigkeit made by Werwolf*/
.itemname[onmouseover^='tt("blaue Flamme der Ewigkeit"']{color:#0000FF;}
/*gr�ner Baru-Schleier made by Werwolf*/
.itemname[onmouseover^='tt("gr�ner Baru-Schleier"']{color:#0000FF;}
/*Sockel der Erfahrung made by Werwolf*/
.itemname[onmouseover^='tt("Sockel der Erfahrung"']{color:#0000FF;}
/*Portalmaschine made by Werwolf*/
.itemname[onmouseover^='tt("Portalmaschine"']{color:#0000FF;}
