/*Bernsteinfeder made by Quetschenpaua*/
.itemname[onmouseover^='tt("Bernsteinfeder"']{color:#cc0000;}
/*Blassaugenfisch made by Quetschenpaua*/
.itemname[onmouseover^='tt("Blassaugenfisch"']{color:#cc0000;}
/*blaues Igelherz made by Quetschenpaua*/
.itemname[onmouseover^='tt("blaues Igelherz"']{color:#cc0000;}
/*Borstenpanzer made by Quetschenpaua*/
.itemname[onmouseover^='tt("Borstenpanzer"']{color:#cc0000;}
/*bronzene Jerodar-Halskette made by Quetschenpaua*/
.itemname[onmouseover^='tt("bronzene Jerodar-Halskette"']{color:#cc0000;}
/*Brot der Nomaden made by Quetschenpaua*/
.itemname[onmouseover^='tt("Brot der Nomaden"']{color:#cc0000;}
/*Buch der Angriffsenergie made by Quetschenpaua*/
.itemname[onmouseover^='tt("Buch der Angriffsenergie"']{color:#cc0000;}
/*Altes Relikt made by Werwolf*/
.itemname[onmouseover^='tt("Altes Relikt"']{color:#cc0000;}
/*Buch des Ausgrabungswissens made by Quetschenpaua*/
.itemname[onmouseover^='tt("Buch des Ausgrabungswissens"']{color:#cc0000;}
/*Eisstachel made by Quetschenpaua*/
.itemname[onmouseover^='tt("Eisstachel"']{color:#cc0000;}
/*Felsenwurmschild made by Quetschenpaua*/
.itemname[onmouseover^='tt("Felsenwurmschild"']{color:#cc0000;}
/*Fernheilzauber made by Quetschenpaua*/
.itemname[onmouseover^='tt("Fernheilzauber"']{color:#cc0000;}
/*Fernschutzzauber made by Quetschenpaua*/
.itemname[onmouseover^='tt("Fernschutzzauber"']{color:#cc0000;}
/*Feuerwalze made by Werwolf*/
.itemname[onmouseover^='tt("Feuerwalze"']{color:#cc0000;}
/*Feuriges Ornament made by Quetschenpaua*/
.itemname[onmouseover^='tt("Feuriges Ornament"']{color:#cc0000;}
/*Flasche Sumpfgas made by Quetschenpaua*/
.itemname[onmouseover^='tt("Flasche Sumpfgas"']{color:#cc0000;}
/*gelber Ring des Schutzes made by Quetschenpaua*/
.itemname[onmouseover^='tt("gelber Ring des Schutzes"']{color:#cc0000;}
/*Giftdolch der H�ndler made by Quetschenpaua*/
.itemname[onmouseover^='tt("Giftdolch der H�ndler"']{color:#cc0000;}
/*Godnugget made by Quetschenpaua*/
.itemname[onmouseover^='tt("Godnugget"']{color:#cc0000;}
/*Goldflosse made by Quetschenpaua*/
.itemname[onmouseover^='tt("Goldflosse"']{color:#cc0000;}
/*Goldkrebspanzer made by Quetschenpaua*/
.itemname[onmouseover^='tt("Goldkrebspanzer"']{color:#cc0000;}
/*Goldnugget made by Quetschenpaua*/
.itemname[onmouseover^='tt("Goldnugget"']{color:#cc0000;}
/*Goldschwert made by Quetschenpaua*/
.itemname[onmouseover^='tt("Goldschwert"']{color:#cc0000;}
/*Goldstaub made by Quetschenpaua*/
.itemname[onmouseover^='tt("Goldstaub"']{color:#cc0000;}
/*gro�e Axt made by Quetschenpaua*/
.itemname[onmouseover^='tt("gro�e Axt"']{color:#cc0000;}
/*gro�er Heiltrank made by Quetschenpaua*/
.itemname[onmouseover^='tt("gro�er Heiltrank"']{color:#cc0000;}
/*Gruppenheilzauber made by Quetschenpaua*/
.itemname[onmouseover^='tt("Gruppenheilzauber"']{color:#cc0000;}
/*Hasenfell made by Quetschenpaua*/
.itemname[onmouseover^='tt("Hasenfell"']{color:#cc0000;}
/*Hautbrand made by Quetschenpaua*/
.itemname[onmouseover^='tt("Hautbrand"']{color:#cc0000;}
/*Heilender Regen made by Quetschenpaua*/
.itemname[onmouseover^='tt("Heilender Regen"']{color:#cc0000;}
/*Horn des Teidams made by Quetschenpaua*/
.itemname[onmouseover^='tt("Horn des Teidams"']{color:#cc0000;}
/*Kleiner Anh�nger made by Werwolf*/
.itemname[onmouseover^='tt("Kleiner Anh�nger"']{color:#cc0000;}
/*Kraftfaden made by Quetschenpaua*/
.itemname[onmouseover^='tt("Kraftfaden"']{color:#cc0000;}
/*Kristall der Heilung made by Quetschenpaua*/
.itemname[onmouseover^='tt("Kristall der Heilung"']{color:#cc0000;}
/*Kristall des Schmerzes made by Quetschenpaua*/
.itemname[onmouseover^='tt("Kristall des Schmerzes"']{color:#cc0000;}
/*Krustenk�ferpanzer made by Quetschenpaua*/
.itemname[onmouseover^='tt("Krustenk�ferpanzer"']{color:#cc0000;}
/*Langzahn made by Quetschenpaua*/
.itemname[onmouseover^='tt("Langzahn"']{color:#cc0000;}
/*Lianenpeitsche made by Quetschenpaua*/
.itemname[onmouseover^='tt("Lianenpeitsche"']{color:#cc0000;}
/*Madenstachel made by Quetschenpaua*/
.itemname[onmouseover^='tt("Madenstachel"']{color:#cc0000;}
/*Nebel der Teleportation made by Quetschenpaua*/
.itemname[onmouseover^='tt("Nebel der Teleportation"']{color:#cc0000;}
/*Nebelkristall made by Quetschenpaua*/
.itemname[onmouseover^='tt("Nebelkristall"']{color:#cc0000;}
/*Nolulawurzel made by Quetschenpaua*/
.itemname[onmouseover^='tt("Nolulawurzel"']{color:#cc0000;}
/*Notizblock made by Quetschenpaua*/
.itemname[onmouseover^='tt("Notizblock"']{color:#cc0000;}
/*Nudelholz made by Quetschenpaua*/
.itemname[onmouseover^='tt("Nudelholz"']{color:#cc0000;}
/*Pflanzengift made by Quetschenpaua*/
.itemname[onmouseover^='tt("Pflanzengift"']{color:#cc0000;}
/*Postvogel made by Quetschenpaua*/
.itemname[onmouseover^='tt("Postvogel"']{color:#cc0000;}
/*Regenstab made by Quetschenpaua*/
.itemname[onmouseover^='tt("Regenstab"']{color:#cc0000;}
/*rostiges Schwert made by Quetschenpaua*/
.itemname[onmouseover^='tt("rostiges Schwert"']{color:#cc0000;}
/*Sandstab made by Quetschenpaua*/
.itemname[onmouseover^='tt("Sandstab"']{color:#cc0000;}
/*Schlangengift made by Quetschenpaua*/
.itemname[onmouseover^='tt("Schlangengift"']{color:#cc0000;}
/*schwache Herbeirufung der Geistlosen made by Quetschenpaua*/
.itemname[onmouseover^='tt("schwache Herbeirufung der Geistlosen"']{color:#cc0000;}
/*seltsamer Trank made by Quetschenpaua*/
.itemname[onmouseover^='tt("seltsamer Trank"']{color:#cc0000;}
/*Siegel der Beute made by Quetschenpaua*/
.itemname[onmouseover^='tt("Siegel der Beute"']{color:#cc0000;}
/*Silberbarren made by Quetschenpaua*/
.itemname[onmouseover^='tt("Silberbarren"']{color:#cc0000;}
/*Silberfuchsfell made by Quetschenpaua*/
.itemname[onmouseover^='tt("Silberfuchsfell"']{color:#cc0000;}
/*silberne Jerodar-Halskette made by Quetschenpaua*/
.itemname[onmouseover^='tt("silberne Jerodar-Halskette"']{color:#cc0000;}
/*Sorus-Kapsel made by Quetschenpaua*/
.itemname[onmouseover^='tt("Sorus-Kapsel"']{color:#cc0000;}
/*Stab der Entgiftung made by Quetschenpaua*/
.itemname[onmouseover^='tt("Stab der Entgiftung"']{color:#cc0000;}
/*Stahlanzug made by Quetschenpaua*/
.itemname[onmouseover^='tt("Stahlanzug"']{color:#cc0000;}
/*Staubschleifer-Ei made by Quetschenpaua*/
.itemname[onmouseover^='tt("Staubschleifer-Ei"']{color:#cc0000;}
/*Stierhoden made by Quetschenpaua*/
.itemname[onmouseover^='tt("Stierhoden"']{color:#cc0000;}
/*Teidam-Fansticker made by Quetschenpaua*/
.itemname[onmouseover^='tt("Teidam-Fansticker"']{color:#cc0000;}
/*Trockenwurmpanzer made by Quetschenpaua*/
.itemname[onmouseover^='tt("Trockenwurmpanzer"']{color:#cc0000;}
/*Tropfstein made by Quetschenpaua*/
.itemname[onmouseover^='tt("Tropfstein"']{color:#cc0000;}
/*unreines Ingerium made by Quetschenpaua*/
.itemname[onmouseover^='tt("unreines Ingerium"']{color:#cc0000;}
/*Vulkanschwert made by Quetschenpaua*/
.itemname[onmouseover^='tt("Vulkanschwert"']{color:#cc0000;}
/*Waldschlurchpanzer made by Quetschenpaua*/
.itemname[onmouseover^='tt("Waldschlurchpanzer"']{color:#cc0000;}
/*zerbrochene Jerodar-Halskette made by Quetschenpaua*/
.itemname[onmouseover^='tt("zerbrochene Jerodar-Halskette"']{color:#cc0000;}
/*Zauber der Wiederherstellung made by Werwolf*/
.itemname[onmouseover^='tt("Zauber der Wiederherstellung"']{color:#cc0000;}
/*Goldener Kuhdarm  made by Werwolf*/
.itemname[onmouseover^='tt("Goldener Kuhdarm"']{color:#cc0000;}
/*Schere made by Werwolf*/
.itemname[onmouseover^='tt("Schere"']{color:#cc0000;}
/*Bronze-Statue made by Werwolf*/
.itemname[onmouseover^='tt("Bronze-Statue"']{color:#cc0000;}