/*antiker W�rfel des Wissens mady by Werwolf*/
.itemname[onmouseover^='tt("antiker W�rfel des Wissens"']{color:#339966;}
.itemname[onmouseover^='tt("antiker W�rfel des Wissens"']:after {content :' (2000gm)'; color:#000000; font-size : 9px;}
/*Auge des Eisvogels mady by Werwolf*/
.itemname[onmouseover^='tt("Auge des Eisvogels"']{color:#339966;}
.itemname[onmouseover^='tt("Auge des Eisvogels"']:after {content :' (90gm)'; color:#000000; font-size : 9px;}
/*Artefakt von Dranar made by Werwolf*/
.itemname[onmouseover^='tt("Artefakt von Dranar"']{color:#339966;}
.itemname[onmouseover^='tt("Artefakt von Dranar"']:after {content :' (175gm)'; color:#000000; font-size : 9px;}
/*Baru-Getreide made by Werwolf*/
.itemname[onmouseover^='tt("Baru-Getreide"']{color:#339966;}
.itemname[onmouseover^='tt("Baru-Getreide"']:after {content :' (23gm)'; color:#000000; font-size : 9px;}
/*bet�rende Paste made by Quetschenpaua*/
.itemname[onmouseover^='tt("bet�rende Paste"']{color:#339966;}
.itemname[onmouseover^='tt("bet�rende Paste"']:after {content :' (1200gm)'; color:#000000; font-size : 9px;}
/*Brosche der Bergwiesen made by Werwolf*/
.itemname[onmouseover^='tt("Brosche der Bergwiesen"']{color:#339966;}
.itemname[onmouseover^='tt("Brosche der Bergwiesen"']:after {content :' (1100gm)'; color:#000000; font-size : 9px;}
/*Diebstahlzauber made by Quetschenpaua*/
.itemname[onmouseover^='tt("Diebstahlzauber"']{color:#339966;}
.itemname[onmouseover^='tt("Diebstahlzauber"']:after {content :' (120gm)'; color:#000000; font-size : 9px;}
/*Elixier der geistlosen Lebenssicht made by Quetschenpaua*/
.itemname[onmouseover^='tt("Elixier der geistlosen Lebenssicht"']{color:#339966;}
.itemname[onmouseover^='tt("Elixier der geistlosen Lebenssicht"']:after {content :' (500gm)'; color:#000000; font-size : 9px;}
/*Elixier der Gesundheit made by Quetschenpaua*/
.itemname[onmouseover^='tt("Elixier der Gesundheit"']{color:#339966;}
.itemname[onmouseover^='tt("Elixier der Gesundheit"']:after {content :' (600gm)'; color:#000000; font-size : 9px;}
/*energetische Beschw�rung made by Quetschenpaua*/
.itemname[onmouseover^='tt("energetische Beschw�rung"']{color:#339966;}
.itemname[onmouseover^='tt("energetische Beschw�rung"']:after {content :' (500gm)'; color:#000000; font-size : 9px;}
/*energetischer Schutzzauber made by Quetschenpaua*/
.itemname[onmouseover^='tt("energetischer Schutzzauber"']{color:#339966;}
.itemname[onmouseover^='tt("energetischer Schutzzauber"']:after {content :' (500gm)'; color:#000000; font-size : 9px;}
/*Fell der Finsternis made by Werwolf*/
.itemname[onmouseover^='tt("Fell der Finsternis"']{color:#339966;}
.itemname[onmouseover^='tt("Fell der Finsternis"']:after {content :' (45gm)'; color:#000000; font-size : 9px;}
/*Fleegras made by Quetschenpaua*/
.itemname[onmouseover^='tt("Fleegras"']{color:#339966;}
.itemname[onmouseover^='tt("Fleegras"']:after {content :' (75gm)'; color:#000000; font-size : 9px;}
/*Fleischblume made by Quetschenpaua*/
.itemname[onmouseover^='tt("Fleischblume"']{color:#339966;}
.itemname[onmouseover^='tt("Fleischblume"']:after {content :' (25gm)'; color:#000000; font-size : 9px;}
/*Geisterfunke made by Quetschenpaua*/
.itemname[onmouseover^='tt("Geisterfunke"']{color:#339966;}
.itemname[onmouseover^='tt("Geisterfunke"']:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*gepresste Zauberkugel made by Werwolf*/
.itemname[onmouseover^='tt("gepresste Zauberkugel"']{color:#339966;}
.itemname[onmouseover^='tt("gepresste Zauberkugel"']:after {content :' (108gm)'; color:#000000; font-size : 9px;}
/*Glodo-Fisch made by Quetschenpaua*/
.itemname[onmouseover^='tt("Glodo-Fisch"']{color:#339966;}
.itemname[onmouseover^='tt("Glodo-Fisch"']:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*gro�er Energiesplitter made by Werwolf*/
.itemname[onmouseover^='tt("gro�er Energiesplitter"']{color:#339966;}
.itemname[onmouseover^='tt("gro�er Energiesplitter"']:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*Heimzauber made by Werwolf*/
.itemname[onmouseover^='tt("Heimzauber"']{color:#339966;}
.itemname[onmouseover^='tt("Heimzauber"']:after {content :' (18gm)'; color:#000000; font-size : 9px;}
/*Herbeirufung der Geistlosen made by Werwolf*/
.itemname[onmouseover^='tt("Herbeirufung der Geistlosen"']{color:#339966;}
.itemname[onmouseover^='tt("Herbeirufung der Geistlosen"']:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*Holz made by Quetschenpaua*/
.itemname[onmouseover^='tt("Holz"']{color:#339966;}
.itemname[onmouseover^='tt("Holz"']:after {content :' (15gm)'; color:#000000; font-size : 9px;}
/*Kaktuspfeil made by Quetschenpaua*/
.itemname[onmouseover^='tt("Kaktuspfeil"']{color:#339966;}
.itemname[onmouseover^='tt("Kaktuspfeil"']:after {content :' (30gm)'; color:#000000; font-size : 9px;}
/*Kristallglas made by Werwolf*/
.itemname[onmouseover^='tt("Kristallglas"']{color:#339966;}
.itemname[onmouseover^='tt("Kristallglas"']:after {content :' (1800gm)'; color:#000000; font-size : 9px;}
/*Kuhkopf made by Quetschenpaua*/
.itemname[onmouseover^='tt("Kuhkopf"']{color:#339966;}
.itemname[onmouseover^='tt("Kuhkopf"']:after {content :' (38gm)'; color:#000000; font-size : 9px;}
/*Larafbl�te made by Werwolf*/
.itemname[onmouseover^='tt("Larafbl�te"']{color:#339966;}
.itemname[onmouseover^='tt("Larafbl�te"']:after {content :' (250gm)'; color:#000000; font-size : 9px;}
/*lebendes Farnblatt made by Quetschenpaua*/
.itemname[onmouseover^='tt("lebendes Farnblatt"']{color:#339966;}
.itemname[onmouseover^='tt("lebendes Farnblatt"']:after {content :' (125gm)'; color:#000000; font-size : 9px;}
/*Mara Knollen made by Quetschenpaua*/
.itemname[onmouseover^='tt("Mara Knollen"']{color:#339966;}
.itemname[onmouseover^='tt("Mara Knollen"']:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Mara-Knolle made by Quetschenpaua*/
.itemname[onmouseover^='tt("Mara-Knolle"']{color:#339966;}
.itemname[onmouseover^='tt("Mara-Knolle"']:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*M�rbegras made by Quetschenpaua*/
.itemname[onmouseover^='tt("M�rbegras"']{color:#339966;}
.itemname[onmouseover^='tt("M�rbegras"']:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*m�chtiger Wegzauber-Schutz made by Quetschenpaua*/
.itemname[onmouseover^='tt("m�chtiger Wegzauber-Schutz"']{color:#339966;}
.itemname[onmouseover^='tt("m�chtiger Wegzauber-Schutz"']:after {content :' (200gm)'; color:#000000; font-size : 9px;}
/*Nossar-Strauch made by Quetschenpaua*/
.itemname[onmouseover^='tt("Nossar-Strauch"']{color:#339966;}
.itemname[onmouseover^='tt("Nossar-Strauch"']:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*Onlo-Knochen made by Quetschenpaua*/
.itemname[onmouseover^='tt("Onlo-Knochen"']{color:#339966;}
.itemname[onmouseover^='tt("Onlo-Knochen"']:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*Perle der gro�en Kraft made by Inkognito*/
.itemname[onmouseover^='tt("Perle der gro�en Kraft"']{color:#339966;}
.itemname[onmouseover^='tt("Perle der gro�en Kraft"']:after {content :' (25gm)'; color:#000000; font-size : 9px;}
/*Perle der Kraft made by Quetschenpaua*/
.itemname[onmouseover^='tt("Perle der Kraft"']{color:#339966;}							
.itemname[onmouseover^='tt("Perle der Kraft"']:after {content :' (35gm)'; color:#000000; font-size : 9px;}
/*Pfeil made by Quetschenpaua*/
.itemname[onmouseover^='tt("Pfeil"']{color:#339966;}
.itemname[onmouseover^='tt("Pfeil"']:after {content :' (35gm)'; color:#000000; font-size : 9px;}
/*rote Zauberkugel made by Werwolf*/
.itemname[onmouseover^='tt("rote Zauberkugel"']{color:#339966;}
.itemname[onmouseover^='tt("rote Zauberkugel"']:after {content :' (45gm)'; color:#000000; font-size : 9px;}
/*Salzkristall made by Werwolf*/
.itemname[onmouseover^='tt("Salzkristall"']{color:#339966;}
.itemname[onmouseover^='tt("Salzkristall"']:after {content :' (205gm)'; color:#000000; font-size : 9px;}
/*Sandranke made by Quetschenpaua*/
.itemname[onmouseover^='tt("Sandranke"']{color:#339966;}
.itemname[onmouseover^='tt("Sandranke"']:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Schutzzauber made by Quetschenpaua*/
.itemname[onmouseover^='tt("Schutzzauber"']{color:#339966;}
.itemname[onmouseover^='tt("Schutzzauber"']:after {content :' (220gm)'; color:#000000; font-size : 9px;}
/*Seelenkapsel made by Werwolf*/
.itemname[onmouseover^='tt("Seelenkapsel"']{color:#339966;}
.itemname[onmouseover^='tt("Seelenkapsel"']:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Sonnenstaub made by Quetschenpaua*/
.itemname[onmouseover^='tt("Sonnenstaub"']{color:#339966;}
.itemname[onmouseover^='tt("Sonnenstaub"']:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*stumpfes Baru-Schwert made by Werwolf*/
.itemname[onmouseover^='tt("stumpfes Baru-Schwert"']{color:#339966;}
.itemname[onmouseover^='tt("stumpfes Baru-Schwert"']:after {content :' (10000gm)'; color:#000000; font-size : 9px;}
/*tote W�stenmaus made by Werwolf*/
.itemname[onmouseover^='tt("tote W�stenmaus"']{color:#339966;}
.itemname[onmouseover^='tt("tote W�stenmaus"']:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*toter Tar-Fisch made by Quetschenpaua*/
.itemname[onmouseover^='tt("toter Tar-Fisch"']{color:#339966;}
.itemname[onmouseover^='tt("toter Tar-Fisch"']:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*trockenes Gestr�pp made by Quetschenpaua*/
.itemname[onmouseover^='tt("trockenes Gestr�pp"']{color:#339966;}
.itemname[onmouseover^='tt("trockenes Gestr�pp"']:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*unbekannte Pflanzensamen made by Werwolf*/
.itemname[onmouseover^='tt("unbekannte Pflanzensamen"']{color:#339966;}
.itemname[onmouseover^='tt("unbekannte Pflanzensamen"']:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*untote Pflanzensamen made by Werwolf*/
.itemname[onmouseover^='tt("untote Pflanzensamen"']{color:#339966;}
.itemname[onmouseover^='tt("untote Pflanzensamen"']:after {content :' (60gm)'; color:#000000; font-size : 9px;}
/*Wakrudpilz made by Quetschenpaua*/
.itemname[onmouseover^='tt("Wakrudpilz"']{color:#339966;}
.itemname[onmouseover^='tt("Wakrudpilz"']:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*Zauber der Selbstheilung  made by impia*/
.itemname[onmouseover^='tt("Zauber der Selbstheilung"']{color:#339966;}
.itemname[onmouseover^='tt("Zauber der Selbstheilung"']:after {content :' (25gm)'; color:#000000; font-size : 9px;}
/*Zauber der unsichtbaren Explosion*/
.itemname[onmouseover^='tt("Zauber der unsichtbaren Explosion"']{color:#339966;}
.itemname[onmouseover^='tt("Zauber der unsichtbaren Explosion"']:after {content :' (1000gm)'; color:#000000; font-size : 9px;}
/*Zauberpuzzle made by Quetschenpaua*/
.itemname[onmouseover^='tt("Zauberpuzzle"']{color:#339966;}
.itemname[onmouseover^='tt("Zauberpuzzle"']:after {content :' (250gm)'; color:#000000; font-size : 9px;}
/*�lfass made by Quetschenpaua*/
.itemname[onmouseover^='tt("�lfass"']{color:#339966;}
.itemname[onmouseover^='tt("�lfass"']:after {content :' (245gm)'; color:#000000; font-size : 9px;}
/*Zauber der Erfahrung made by Werwolf*/
.itemname[onmouseover^='tt("Zauber der Erfahrung"']{color:#339966;}
.itemname[onmouseover^='tt("Zauber der Erfahrung"']:after {content :' (1400gm)'; color:#000000; font-size : 9px;}
/*lebendes Wasser made by Werwolf*/
.itemname[onmouseover^='tt("lebendes Wasser"']{color:#339966;}
.itemname[onmouseover^='tt("lebendes Wasser"']:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*kleiner Bonsai-Laraf made by Werwolf*/
.itemname[onmouseover^='tt("kleiner Bonsai-Laraf"']{color:#339966;}
.itemname[onmouseover^='tt("kleiner Bonsai-Laraf"']:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*Zauber der starken Vergiftung made by Werwolf*/
.itemname[onmouseover^='tt("Zauber der starken Vergiftung"']{color:#339966;}
.itemname[onmouseover^='tt("Zauber der starken Vergiftung"']:after {content :' (110gm)'; color:#000000; font-size : 9px;}
/*Helm des Lichts made by Werwolf*/
.itemname[onmouseover^='tt("Helm des Lichts"']{color:#339966;}
.itemname[onmouseover^='tt("Helm des Lichts"']:after {content :' (900gm)'; color:#000000; font-size : 9px;}
/*goldenes Schmuckst�ck made by Werwolf*/
.itemname[onmouseover^='tt("goldenes Schmuckst�ck"']{color:#339966;}
.itemname[onmouseover^='tt("goldenes Schmuckst�ck"']:after {content :' (86gm)'; color:#000000; font-size : 9px;}
/*Stab der gro�en Magie made by Werwolf*/
.itemname[onmouseover^='tt("Stab der gro�en Magie"']{color:#339966;}
.itemname[onmouseover^='tt("Stab der gro�en Magie"']:after {content :' (450gm)'; color:#000000; font-size : 9px;}