.framebannerbg { 
	background-color: #000000; 
	background-image: url(http://w13.fwtools.de/code/);/* http://test.fwtools.de/shop/; http://enfwstyle.en.funpic.de/images/banner.jpg*/
	background-repeat: no-repeat;
	border-bottom: 1px solid #000000;}
	
	