/*Bamm-Bamm made by Inkognito*/
.listusersrow a[href$='watchuser&act_user_id=1290']:after{ content:' (Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1290']:after{ content:' (Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1290']:hover:after{ content:' (Zaubertruhe(35))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1290']:hover:after{ content:' (Zaubertruhe(35))'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1290']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=1290']:before{ content:'(E) '; color:#cc0000;}
/*-NoBoDy- made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=103579']:after{ content:' (V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103579']:after{ content:' (V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103579']:hover:after{ content:' (Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103579']:hover:after{ content:' (Verlängerer)'; color:#339966;}
/*Alaera made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=72710']:after{ content:' (K,V,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=72710']:after{ content:' (K,V,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=72710']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(25))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=72710']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(25))'; color:#339966;}
/*Alfadas Mandredson made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=58381']:after{ content:' (V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=58381']:after{ content:' (V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=58381']:hover:after{ content:' (Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=58381']:hover:after{ content:' (Verlängerer,Pusher)'; color:#339966;}
/*Amophis made by Amophis*/
.listusersrow a[href$='watchuser&act_user_id=89439']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=89439']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=89439']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=89439']:hover:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=89439']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=89439']:before{ content:'(E) '; color:#cc0000;}
/*Angel Sapphire made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=115568']:after{ content:' (P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=115568']:after{ content:' (P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=115568']:hover:after{ content:' (Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=115568']:hover:after{ content:' (Pusher)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=115568']:before{ content:'(M) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=115568']:before{ content:'(M) '; color:#cc0000;}
/*Arktos made by Amophis*/
.listusersrow a[href$='watchuser&act_user_id=159']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=159']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=159']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=159']:hover:after{ content:' (-)'; color:#339966;}
/*Asriel made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=112108']:after{ content:' (K,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=112108']:after{ content:' (K,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=112108']:hover:after{ content:' (Kopierer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=112108']:hover:after{ content:' (Kopierer,Pusher)'; color:#339966;}
/*Avalon made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=57314']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=57314']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=57314']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=57314']:hover:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=57314']:before{ content:'(M) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=57314']:before{ content:'(M) '; color:#cc0000;}
/*Azerty made by impia*/
.listusersrow a[href$='watchuser&act_user_id=79599']:after{ content:' (K,V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=79599']:after{ content:' (K,V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=79599']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=79599']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=79599']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=79599']:before{ content:'(E) '; color:#cc0000;}
/*Azrael made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=103887']:after{ content:' (Ö,K,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103887']:after{ content:' (Ö,K,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103887']:hover:after{ content:' (Ölkäufer,Kopierer,Zaubertruhe(22))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103887']:hover:after{ content:' (Ölkäufer,Kopierer,Zaubertruhe(22))'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103887']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=103887']:before{ content:'(E) '; color:#cc0000;}
/*BlackSoul made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=101612']:after{ content:' (K,V,S,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=101612']:after{ content:' (K,V,S,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=101612']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=101612']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
/*Blizz made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=63974']:after{ content:' (V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=63974']:after{ content:' (V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=63974']:hover:after{ content:' (Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=63974']:hover:after{ content:' (Verlängerer)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=63974']:before{ content:'(M) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=63974']:before{ content:'(M) '; color:#cc0000;}
/*Bomml made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=71298']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=71298']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=71298']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=71298']:hover:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=71298']:before{ content:'(M) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=71298']:before{ content:'(M) '; color:#cc0000;}
/*Bonecrusher made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=78953']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=78953']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=78953']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=78953']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Cernunnos made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=97366']:after{ content:' (K,V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=97366']:after{ content:' (K,V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=97366']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=97366']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
/*Couchkartoffel made by impia*/
.listusersrow a[href$='watchuser&act_user_id=1245']:after{ content:' (V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1245']:after{ content:' (V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1245']:hover:after{ content:' (Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1245']:hover:after{ content:' (Verlängerer,Pusher)'; color:#339966;}
/*Crisby made by impia*/
.listusersrow a[href$='watchuser&act_user_id=99833']:after{ content:' (P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=99833']:after{ content:' (P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=99833']:hover:after{ content:' (Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=99833']:hover:after{ content:' (Pusher)'; color:#339966;}
/*doom made by impia*/
.listusersrow a[href$='watchuser&act_user_id=70881']:after{ content:' (K,V,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=70881']:after{ content:' (K,V,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=70881']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(40))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=70881']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(40))'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=70881']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=70881']:before{ content:'(E) '; color:#cc0000;}
/*Drow made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=103289']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103289']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103289']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103289']:hover:after{ content:' (-)'; color:#339966;}
/*exSolvoü made by impia*/
.listusersrow a[href$='watchuser&act_user_id=111463']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=111463']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=111463']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=111463']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Ezio Auditore made by impia*/
.listusersrow a[href$='watchuser&act_user_id=93030']:after{ content:' (K,V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=93030']:after{ content:' (K,V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=93030']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=93030']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
/*FalkenauGe made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=3103']:after{ content:' (P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=3103']:after{ content:' (P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=3103']:hover:after{ content:' (Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=3103']:hover:after{ content:' (Pusher)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=3103']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=3103']:before{ content:'(E) '; color:#cc0000;}
/*Faror of Lancaster made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=61919']:after{ content:' (V,H)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=61919']:after{ content:' (V,H)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=61919']:hover:after{ content:' (Verlängerer,Handwerkskunst(5))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=61919']:hover:after{ content:' (Verlängerer,Handwerkskunst(5))'; color:#339966;}
/*Fesja made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=1599']:after{ content:' (P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1599']:after{ content:' (P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1599']:hover:after{ content:' (Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1599']:hover:after{ content:' (Pusher)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1599']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=1599']:before{ content:'(E) '; color:#cc0000;}
/*Fire78 made by impia*/
.listusersrow a[href$='watchuser&act_user_id=110966']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=110966']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=110966']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=110966']:hover:after{ content:' (-)'; color:#339966;}
/*FoxMcCloud made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=738']:after{ content:' (K,V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=738']:after{ content:' (K,V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=738']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=738']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
/*Galak van Charro made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=108611']:after{ content:' (Ö,K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=108611']:after{ content:' (Ö,K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=108611']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=108611']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Haruko made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=97233']:after{ content:' (V,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=97233']:after{ content:' (V,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=97233']:hover:after{ content:' (Verlängerer,Pusher,Zaubertruhe(6))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=97233']:hover:after{ content:' (Verlängerer,Pusher,Zaubertruhe(6))'; color:#339966;}
/*Herzblut made by impia*/
.listusersrow a[href$='watchuser&act_user_id=1529']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1529']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1529']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1529']:hover:after{ content:' (-)'; color:#339966;}
/*Ichigo Kurosaki made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=115657']:after{ content:' (V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=115657']:after{ content:' (V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=115657']:hover:after{ content:' (Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=115657']:hover:after{ content:' (Verlängerer)'; color:#339966;}
/*Impstein made by impia*/
.listusersrow a[href$='watchuser&act_user_id=737']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=737']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=737']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=737']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=737']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=737']:before{ content:'(E) '; color:#cc0000;}
/*Jeff_Sin Kamikaze made by impia*/
.listusersrow a[href$='watchuser&act_user_id=60290']:after{ content:' (Ö,K,V,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=60290']:after{ content:' (Ö,K,V,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=60290']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Pusher,Zaubertruhe(40))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=60290']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Pusher,Zaubertruhe(40))'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=60290']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=60290']:before{ content:'(E) '; color:#cc0000;}
/*Kyoko made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=103561']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103561']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103561']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103561']:hover:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103561']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=103561']:before{ content:'(E) '; color:#cc0000;}
/*la frida negra made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=1370']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1370']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1370']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1370']:hover:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1370']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=1370']:before{ content:'(E) '; color:#cc0000;}
/*LastDancezZ made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=68109']:after{ content:' (K,V,P,L)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=68109']:after{ content:' (K,V,P,L)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=68109']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Labortechnik(16))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=68109']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Labortechnik(16))'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=68109']:before{ content:'(M) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=68109']:before{ content:'(M) '; color:#cc0000;}
/*Leon Delany made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=103303']:after{ content:' (K,V,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103303']:after{ content:' (K,V,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103303']:hover:after{ content:' (Kopierer,Verlängerer,Zaubertruhe(40))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103303']:hover:after{ content:' (Kopierer,Verlängerer,Zaubertruhe(40))'; color:#339966;}
/*Linke Hand Gottes made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=1429']:after{ content:' (K)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1429']:after{ content:' (K)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1429']:hover:after{ content:' (Kopierer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1429']:hover:after{ content:' (Kopierer)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1429']:before{ content:'(M) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=1429']:before{ content:'(M) '; color:#cc0000;}
/*little Devil made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=75731']:after{ content:' (K,V,S,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=75731']:after{ content:' (K,V,S,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=75731']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=75731']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
/*Lobo Loco made by impia*/
.listusersrow a[href$='watchuser&act_user_id=99702']:after{ content:' (K,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=99702']:after{ content:' (K,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=99702']:hover:after{ content:' (Kopierer,Pusher,Zaubertruhe(6))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=99702']:hover:after{ content:' (Kopierer,Pusher,Zaubertruhe(6))'; color:#339966;}
/*Lord Brian made by impia*/
.listusersrow a[href$='watchuser&act_user_id=69307']:after{ content:' (Ö,K,V,S,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=69307']:after{ content:' (Ö,K,V,S,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=69307']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=69307']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
/*Luis made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=132']:after{ content:' (P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=132']:after{ content:' (P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=132']:hover:after{ content:' (Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=132']:hover:after{ content:' (Pusher)'; color:#339966;}
/*Lycaner made by impia*/
.listusersrow a[href$='watchuser&act_user_id=896']:after{ content:' (V,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=896']:after{ content:' (V,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=896']:hover:after{ content:' (Verlängerer,Zaubertruhe(33))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=896']:hover:after{ content:' (Verlängerer,Zaubertruhe(33))'; color:#339966;}
/*löckchen made by impia*/
.listusersrow a[href$='watchuser&act_user_id=2108']:after{ content:' (P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=2108']:after{ content:' (P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=2108']:hover:after{ content:' (Pusher,Zaubertruhe(7))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=2108']:hover:after{ content:' (Pusher,Zaubertruhe(7))'; color:#339966;}
/*Magic made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=1015']:after{ content:' (K,V,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1015']:after{ content:' (K,V,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1015']:hover:after{ content:' (Kopierer,Verlängerer,Zaubertruhe(27))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1015']:hover:after{ content:' (Kopierer,Verlängerer,Zaubertruhe(27))'; color:#339966;}
/*Mandred Torgridson made by impia*/
.listusersrow a[href$='watchuser&act_user_id=64892']:after{ content:' (P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=64892']:after{ content:' (P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=64892']:hover:after{ content:' (Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=64892']:hover:after{ content:' (Pusher)'; color:#339966;}
/*Maya made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=57599']:after{ content:' (K,V,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=57599']:after{ content:' (K,V,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=57599']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(4))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=57599']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(4))'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=57599']:before{ content:'(M) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=57599']:before{ content:'(M) '; color:#cc0000;}
/*Midnight Sun made by impia*/
.listusersrow a[href$='watchuser&act_user_id=93225']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=93225']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=93225']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=93225']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Minime made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=762']:after{ content:' (K,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=762']:after{ content:' (K,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=762']:hover:after{ content:' (Kopierer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=762']:hover:after{ content:' (Kopierer,Pusher)'; color:#339966;}
/*Monkey D Ruffy made by impia*/
.listusersrow a[href$='watchuser&act_user_id=3107']:after{ content:' (P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=3107']:after{ content:' (P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=3107']:hover:after{ content:' (Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=3107']:hover:after{ content:' (Pusher)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=3107']:before{ content:'(B) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=3107']:before{ content:'(B) '; color:#cc0000;}
/*Müdi made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=96776']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=96776']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=96776']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=96776']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Nanami made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=65330']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=65330']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=65330']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=65330']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Nekaida made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=528']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=528']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=528']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=528']:hover:after{ content:' (-)'; color:#339966;}
/*Niki_Goettin made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=2976']:after{ content:' (K,V,Z,L,H)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=2976']:after{ content:' (K,V,Z,L,H)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=2976']:hover:after{ content:' (Kopierer,Verlängerer,Zaubertruhe(4),Labortechnik(1),Handwerkskunst(5))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=2976']:hover:after{ content:' (Kopierer,Verlängerer,Zaubertruhe(4),Labortechnik(1),Handwerkskunst(5))'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=2976']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=2976']:before{ content:'(E) '; color:#cc0000;}
/*perfect_dark made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=104422']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=104422']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=104422']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=104422']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Philip J Fry made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=88986']:after{ content:' (K,V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=88986']:after{ content:' (K,V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=88986']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=88986']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=88986']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=88986']:before{ content:'(E) '; color:#cc0000;}
/*QBA made by impia*/
.listusersrow a[href$='watchuser&act_user_id=103717']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103717']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103717']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103717']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Quetschenpaua made by Flummi*/
.listusersrow a[href$='watchuser&act_user_id=60937']:after{ content:' (Ö,K,V,Z,L,H)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=60937']:after{ content:' (Ö,K,V,Z,L,H)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=60937']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Zaubertruhe(4),Labortechnik(1),Handwerkskunst(5))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=60937']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Zaubertruhe(4),Labortechnik(1),Handwerkskunst(5))'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=60937']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=60937']:before{ content:'(E) '; color:#cc0000;}
/*RedDemon made by impia*/
.listusersrow a[href$='watchuser&act_user_id=72353']:after{ content:' (K,V,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=72353']:after{ content:' (K,V,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=72353']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(40))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=72353']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(40))'; color:#339966;}
/*Ryu van Silent made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=105147']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=105147']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=105147']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=105147']:hover:after{ content:' (-)'; color:#339966;}
/*Sandstorm made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=103578']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103578']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103578']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103578']:hover:after{ content:' (-)'; color:#339966;}
/*Sauron made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=81662']:after{ content:' (S)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=81662']:after{ content:' (S)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=81662']:hover:after{ content:' (Schützer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=81662']:hover:after{ content:' (Schützer)'; color:#339966;}
/*Shadow made by impia*/
.listusersrow a[href$='watchuser&act_user_id=115496']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=115496']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=115496']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=115496']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Sintara Celestia made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=114902']:after{ content:' (V,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=114902']:after{ content:' (V,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=114902']:hover:after{ content:' (Verlängerer,Pusher,Zaubertruhe(10))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=114902']:hover:after{ content:' (Verlängerer,Pusher,Zaubertruhe(10))'; color:#339966;}
/*Sir Kain made by impia*/
.listusersrow a[href$='watchuser&act_user_id=2133']:after{ content:' (P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=2133']:after{ content:' (P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=2133']:hover:after{ content:' (Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=2133']:hover:after{ content:' (Pusher)'; color:#339966;}
/*Sten cal Dabran made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=107020']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=107020']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=107020']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=107020']:hover:after{ content:' (-)'; color:#339966;}
/*SVR made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=103904']:after{ content:' (K,V,P,Z,L,H)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103904']:after{ content:' (K,V,P,Z,L,H)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103904']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(6),Labortechnik(14),Handwerkskunst(5))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103904']:hover:after{ content:' (Kopierer,Verlängerer,Pusher,Zaubertruhe(6),Labortechnik(14),Handwerkskunst(5))'; color:#339966;}
/*TarX made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=79167']:after{ content:' (K,V,S,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=79167']:after{ content:' (K,V,S,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=79167']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=79167']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
/*Tempelkrieger  made by Amophis*/
.listusersrow a[href$='watchuser&act_user_id=1588']:after{ content:' (K,V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1588']:after{ content:' (K,V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=1588']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=1588']:hover:after{ content:' (Kopierer,Verlängerer)'; color:#339966;}
/*Tory Torsun made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=82856']:after{ content:' (Ö,K,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=82856']:after{ content:' (Ö,K,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=82856']:hover:after{ content:' (Ölkäufer,Kopierer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=82856']:hover:after{ content:' (Ölkäufer,Kopierer,Pusher)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=82856']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=82856']:before{ content:'(E) '; color:#cc0000;}
/*Trianon Santis made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=61540']:after{ content:' (K,V,S,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=61540']:after{ content:' (K,V,S,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=61540']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=61540']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher)'; color:#339966;}
/*Triple xXx made by impia*/
.listusersrow a[href$='watchuser&act_user_id=3055']:after{ content:' (P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=3055']:after{ content:' (P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=3055']:hover:after{ content:' (Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=3055']:hover:after{ content:' (Pusher)'; color:#339966;}
/*Tungdil Goldhand made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=103081']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103081']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=103081']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=103081']:hover:after{ content:' (-)'; color:#339966;}
/*VenomEX made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=62239']:after{ content:' (K,V,S,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=62239']:after{ content:' (K,V,S,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=62239']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher,Zaubertruhe(12))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=62239']:hover:after{ content:' (Kopierer,Verlängerer,Schützer,Pusher,Zaubertruhe(12))'; color:#339966;}
/*Veritas made by impia*/
.listusersrow a[href$='watchuser&act_user_id=97780']:after{ content:' (K)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=97780']:after{ content:' (K)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=97780']:hover:after{ content:' (Kopierer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=97780']:hover:after{ content:' (Kopierer)'; color:#339966;}
/*vierauge made by impia*/
.listusersrow a[href$='watchuser&act_user_id=2442']:after{ content:' (Ö,V)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=2442']:after{ content:' (Ö,V)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=2442']:hover:after{ content:' (Ölkäufer,Verlängerer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=2442']:hover:after{ content:' (Ölkäufer,Verlängerer)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=2442']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=2442']:before{ content:'(E) '; color:#cc0000;}
/*white-elf made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=114487']:after{ content:' (K)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=114487']:after{ content:' (K)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=114487']:hover:after{ content:' (Kopierer)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=114487']:hover:after{ content:' (Kopierer)'; color:#339966;}
/*Yazul made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=78408']:after{ content:' (K,V,P)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=78408']:after{ content:' (K,V,P)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=78408']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=78408']:hover:after{ content:' (Kopierer,Verlängerer,Pusher)'; color:#339966;}
/*Zaphira made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=701']:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=701']:after{ content:' (-)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=701']:hover:after{ content:' (-)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=701']:hover:after{ content:' (-)'; color:#339966;}
/*Zerbaros made by Quetschenpaua*/
.listusersrow a[href$='watchuser&act_user_id=58806']:after{ content:' (Ö,K,V,P,Z)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=58806']:after{ content:' (Ö,K,V,P,Z)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=58806']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Pusher,Zaubertruhe(20))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=58806']:hover:after{ content:' (Ölkäufer,Kopierer,Verlängerer,Pusher,Zaubertruhe(20))'; color:#339966;}
