/*==================================WORLD==================================*/

#mapx90y105 {background-image:url(../images/Weihnachtsbaum.JPG)!important;}
#mainmapx90y105 {width: 0;background:url(../images/Weihnachtsbaum.JPG)no-repeat;padding-left: 65px;overflow: hidden;!important;}

/*Made by Werwolf - Halloween
#mapx90y105 {background-image:url(http://img684.imageshack.us/img684/8353/krbise.jpg)!important;}
#mainmapx90y105 {width: 0;background:url(http://img684.imageshack.us/img684/8353/krbise.jpg)no-repeat;padding-left: 65px;overflow: hidden;!important;}
*/
/*NEU*/
/*AGRESSIVE NPCS UND SONSTIGE*/
/*Anatubien*/
#mapx84y100 { background-image:url(../images/karten/anatubien/84_100.jpg)!important; }
#mapx84y102 { background-image:url(../images/karten/anatubien/84_102.jpg)!important; }
#mapx85y99 { background-image:url(../images/karten/anatubien/85_99.jpg)!important; }
#mapx86y100 { background-image:url(../images/karten/anatubien/86_100.jpg)!important; }
#mapx86y102 { background-image:url(../images/karten/anatubien/86_102.jpg)!important; }
#mapx87y99 { background-image:url(../images/karten/anatubien/87_99.jpg)!important; }
#mapx87y103 { background-image:url(../images/karten/anatubien/87_103.jpg)!important; }
#mapx88y105 { background-image:url(../images/karten/anatubien/88_105.jpg)!important; }
#mapx89y101 { background-image:url(../images/karten/anatubien/89_101.jpg)!important; }
#mapx89y102 { background-image:url(../images/karten/anatubien/89_102.jpg)!important; }
#mapx89y104 { background-image:url(../images/karten/anatubien/89_104.jpg)!important; }
#mapx90y100 { background-image:url(../images/karten/anatubien/90_100.jpg)!important; }
#mapx90y102 { background-image:url(../images/karten/anatubien/90_102.jpg)!important; }

/*Das vergessene Tal*/
#mapx80y94 { background-image:url(../images/karten/dasvergessenetal/80_94.jpg)!important; }
#mapx82y92 { background-image:url(../images/karten/dasvergessenetal/82_92.jpg)!important; }
#mapx83y94 { background-image:url(../images/karten/dasvergessenetal/83_94.jpg)!important; }

/*Dranar vor 100 Jahren*/
#mapx-424y-298 { background-image:url(../images/karten/dranarvor100/-424_-298.jpg)!important; }
#mapx-425y-296 { background-image:url(../images/karten/dranarvor100/-425_-296.jpg)!important; }
#mapx-425y-297 { background-image:url(../images/karten/dranarvor100/-425_-297.jpg)!important; }
#mapx-426y-296 { background-image:url(../images/karten/dranarvor100/-426_-296.jpg)!important; }
#mapx-426y-297 { background-image:url(../images/karten/dranarvor100/-426_-297.jpg)!important; }
#mapx-426y-298 { background-image:url(../images/karten/dranarvor100/-426_-298.jpg)!important; }
#mapx-426y-299 { background-image:url(../images/karten/dranarvor100/-426_-299.jpg)!important; }
#mapx-427y-296 { background-image:url(../images/karten/dranarvor100/-427_-296.jpg)!important; }
#mapx-427y-297 { background-image:url(../images/karten/dranarvor100/-427_-297.jpg)!important; }
#mapx-428y-297 { background-image:url(../images/karten/dranarvor100/-428_-297.jpg)!important; }
#mapx-428y-298 { background-image:url(../images/karten/dranarvor100/-428_-298.jpg)!important; }

/*gefroren Insel*/
#mapx1004y1004 { background-image:url(../images/karten/gefroreneinsel/1004_1004.jpg)!important; }
#mapx1004y1005 { background-image:url(../images/karten/gefroreneinsel/1004_1005.jpg)!important; }
#mapx1005y1003 { background-image:url(../images/karten/gefroreneinsel/1005_1003.jpg)!important; }
#mapx1005y1004 { background-image:url(../images/karten/gefroreneinsel/1005_1004.jpg)!important; }
#mapx1005y1005 { background-image:url(../images/karten/gefroreneinsel/1005_1005.jpg)!important; }
#mapx1005y1006 { background-image:url(../images/karten/gefroreneinsel/1005_1006.jpg)!important; }
#mapx1006y1002 { background-image:url(../images/karten/gefroreneinsel/1006_1002.jpg)!important; }
#mapx1006y1004 { background-image:url(../images/karten/gefroreneinsel/1006_1004.jpg)!important; }
#mapx1006y1005 { background-image:url(../images/karten/gefroreneinsel/1006_1005.jpg)!important; }
#mapx1007y1003 { background-image:url(../images/karten/gefroreneinsel/1007_1003.jpg)!important; }
#mapx1007y1005 { background-image:url(../images/karten/gefroreneinsel/1007_1005.jpg)!important; }
#mapx1007y1006 { background-image:url(../images/karten/gefroreneinsel/1007_1006.jpg)!important; }
#mapx1008y1002 { background-image:url(../images/karten/gefroreneinsel/1008_1002.jpg)!important; }
#mapx1008y1003 { background-image:url(../images/karten/gefroreneinsel/1008_1003.jpg)!important; }
#mapx1008y1005 { background-image:url(../images/karten/gefroreneinsel/1008_1005.jpg)!important; }
#mapx1009y1003 { background-image:url(../images/karten/gefroreneinsel/1009_1003.jpg)!important; }
#mapx1009y1005 { background-image:url(../images/karten/gefroreneinsel/1009_1005.jpg)!important; }
#mapx1010y1004 { background-image:url(../images/karten/gefroreneinsel/1010_1004.jpg)!important; }
#mapx1011y1005 { background-image:url(../images/karten/gefroreneinsel/1011_1005.jpg)!important; }

/*Gobos*/
#mapx74y101 { background-image:url(../images/karten/gobos/74_101.jpg)!important; }
#mapx76y98 { background-image:url(../images/karten/gobos/76_98.jpg)!important; }
#mapx76y103 { background-image:url(../images/karten/gobos/76_103.jpg)!important; }
#mapx76y104 { background-image:url(../images/karten/gobos/76_104.jpg)!important; }
#mapx77y101 { background-image:url(../images/karten/gobos/77_101.jpg)!important; }
#mapx78y97 { background-image:url(../images/karten/gobos/78_97.jpg)!important; }
#mapx79y103 { background-image:url(../images/karten/gobos/79_103.jpg)!important; }
#mapx80y99 { background-image:url(../images/karten/gobos/80_99.jpg)!important; }
#mapx81y96 { background-image:url(../images/karten/gobos/81_96.jpg)!important; }
#mapx83y102 { background-image:url(../images/karten/gobos/83_102.jpg)!important; }


/*Grotte des Todes*/
#mapx-821y-910 { background-image:url(../images/karten/grotte/-821_-910.jpg)!important; }
#mapx-822y-909 { background-image:url(../images/karten/grotte/-822_-909.jpg)!important; }
#mapx-822y-910 { background-image:url(../images/karten/grotte/-822_-910.jpg)!important; }
#mapx-823y-903 { background-image:url(../images/karten/grotte/-823_-903.jpg)!important; }
#mapx-823y-905 { background-image:url(../images/karten/grotte/-823_-905.jpg)!important; }
#mapx-823y-906 { background-image:url(../images/karten/grotte/-823_-906.jpg)!important; }
#mapx-823y-908 { background-image:url(../images/karten/grotte/-823_-908.jpg)!important; }
#mapx-823y-912 { background-image:url(../images/karten/grotte/-823_-912.jpg)!important; }
#mapx-824y-905 { background-image:url(../images/karten/grotte/-824_-905.jpg)!important; }
#mapx-825y-904 { background-image:url(../images/karten/grotte/-825_-904.jpg)!important; }
#mapx-825y-909 { background-image:url(../images/karten/grotte/-825_-909.jpg)!important; }
#mapx-825y-910 { background-image:url(../images/karten/grotte/-825_-910.jpg)!important; }
#mapx-825y-911 { background-image:url(../images/karten/grotte/-825_-911.jpg)!important; }
#mapx-825y-912 { background-image:url(../images/karten/grotte/-825_-912.jpg)!important; }
#mapx-825y-914 { background-image:url(../images/karten/grotte/-825_-914.jpg)!important; }
#mapx-825y-915 { background-image:url(../images/karten/grotte/-825_-915.jpg)!important; }
#mapx-826y-903 { background-image:url(../images/karten/grotte/-826_-903.jpg)!important; }
#mapx-826y-904 { background-image:url(../images/karten/grotte/-826_-904.jpg)!important; }
#mapx-826y-908 { background-image:url(../images/karten/grotte/-826_-908.jpg)!important; }
#mapx-826y-911 { background-image:url(../images/karten/grotte/-826_-911.jpg)!important; }
#mapx-826y-912 { background-image:url(../images/karten/grotte/-826_-912.jpg)!important; }
#mapx-826y-914 { background-image:url(../images/karten/grotte/-826_-914.jpg)!important; }
#mapx-826y-916 { background-image:url(../images/karten/grotte/-826_-916.jpg)!important; }
#mapx-826y-918 { background-image:url(../images/karten/grotte/-826_-918.jpg)!important; }
#mapx-827y-909 { background-image:url(../images/karten/grotte/-827_-909.jpg)!important; }
#mapx-827y-910 { background-image:url(../images/karten/grotte/-827_-910.jpg)!important; }
#mapx-827y-913 { background-image:url(../images/karten/grotte/-827_-913.jpg)!important; }
#mapx-827y-914 { background-image:url(../images/karten/grotte/-827_-914.jpg)!important; }
#mapx-827y-919 { background-image:url(../images/karten/grotte/-827_-919.jpg)!important; }

/*Konlir*/
#mapx96y99 { background-image:url(../images/karten/konlir/96_99.jpg)!important; }
#mapx96y101 { background-image:url(../images/karten/konlir/96_101.jpg)!important; }
#mapx96y102 { background-image:url(../images/karten/konlir/96_102.jpg)!important; }
#mapx97y99 { background-image:url(../images/karten/konlir/97_99.jpg)!important; }
#mapx97y101 { background-image:url(../images/karten/konlir/97_101.jpg)!important; }
#mapx97y102 { background-image:url(../images/karten/konlir/97_102.jpg)!important; }
#mapx98y98 { background-image:url(../images/karten/konlir/98_98.jpg)!important; }
#mapx98y101 { background-image:url(../images/karten/konlir/98_101.jpg)!important; }
#mapx98y102 { background-image:url(../images/karten/konlir/98_102.jpg)!important; }
#mapx98y103 { background-image:url(../images/karten/konlir/98_103.jpg)!important; }
#mapx99y99 { background-image:url(../images/karten/konlir/99_99.jpg)!important; }
#mapx99y100 { background-image:url(../images/karten/konlir/99_100.jpg)!important; }
#mapx99y103 { background-image:url(../images/karten/konlir/99_103.jpg)!important; }
#mapx100y99 { background-image:url(../images/karten/konlir/100_99.jpg)!important; }
#mapx100y100 { background-image:url(../images/karten/konlir/100_100.jpg)!important; }
#mapx101y102 { background-image:url(../images/karten/konlir/101_102.jpg)!important; }
#mapx102y103 { background-image:url(../images/karten/konlir/102_103.jpg)!important; }
#mapx103y100 { background-image:url(../images/karten/konlir/103_100.jpg)!important; }

/*Lardikia*/
#mapx119y111 { background-image:url(../images/karten/lardikia/119_111.jpg)!important; }
#mapx119y114 { background-image:url(../images/karten/lardikia/119_114.jpg)!important; }
#mapx119y115 { background-image:url(../images/karten/lardikia/119_115.jpg)!important; }
#mapx120y111 { background-image:url(../images/karten/lardikia/120_111.jpg)!important; }
#mapx120y114 { background-image:url(../images/karten/lardikia/120_114.jpg)!important; }
#mapx121y111 { background-image:url(../images/karten/lardikia/121_111.jpg)!important; }
#mapx121y114 { background-image:url(../images/karten/lardikia/121_114.jpg)!important; }
#mapx121y115 { background-image:url(../images/karten/lardikia/121_115.jpg)!important; }

/*Limm*/
#mapx55y88 { background-image:url(../images/karten/limm/55_88.jpg)!important; }
#mapx57y85 { background-image:url(../images/karten/limm/57_85.jpg)!important; }
#mapx57y88 { background-image:url(../images/karten/limm/57_88.jpg)!important; }
#mapx58y88 { background-image:url(../images/karten/limm/58_88.jpg)!important; }
#mapx58y91 { background-image:url(../images/karten/limm/58_91.jpg)!important; }
#mapx59y84 { background-image:url(../images/karten/limm/59_84.jpg)!important; }
#mapx59y88 { background-image:url(../images/karten/limm/59_88.jpg)!important; }
#mapx59y92 { background-image:url(../images/karten/limm/59_92.jpg)!important; }
#mapx59y93 { background-image:url(../images/karten/limm/59_93.jpg)!important; }
#mapx60y87 { background-image:url(../images/karten/limm/60_87.jpg)!important; }
#mapx60y88 { background-image:url(../images/karten/limm/60_88.jpg)!important; }
#mapx60y92 { background-image:url(../images/karten/limm/60_92.jpg)!important; }

/*Postkeller*/
#mapx-100y-95 { background-image:url(../images/karten/postkeller/-100_-95.jpg)!important; }

/*Ruward*/
#mapx70y105 { background-image:url(../images/karten/ruward/70_105.jpg)!important; }
#mapx70y108 { background-image:url(../images/karten/ruward/70_108.jpg)!important; }
#mapx71y105 { background-image:url(../images/karten/ruward/71_105.jpg)!important; }
#mapx71y107 { background-image:url(../images/karten/ruward/71_107.jpg)!important; }
#mapx72y103 { background-image:url(../images/karten/ruward/72_103.jpg)!important; }
#mapx72y106 { background-image:url(../images/karten/ruward/72_106.jpg)!important; }
#mapx72y107 { background-image:url(../images/karten/ruward/72_107.jpg)!important; }
#mapx73y105 { background-image:url(../images/karten/ruward/73_105.jpg)!important; }
#mapx73y106 { background-image:url(../images/karten/ruward/73_106.jpg)!important; }
#mapx74y104 { background-image:url(../images/karten/ruward/74_104.jpg)!important; }
#mapx74y105 { background-image:url(../images/karten/ruward/74_105.jpg)!important; }
#mapx74y107 { background-image:url(../images/karten/ruward/74_107.jpg)!important; }

/*Vorhof der Eiswelt*/
#mapx-600y-262 { background-image:url(../images/karten/vorhof/-600_-262.jpg)!important; }
#mapx-601y-260 { background-image:url(../images/karten/vorhof/-601_-260.jpg)!important; }
#mapx-601y-263 { background-image:url(../images/karten/vorhof/-601_-263.jpg)!important; }
#mapx-602y-264 { background-image:url(../images/karten/vorhof/-602_-264.jpg)!important; }
#mapx-603y-260 { background-image:url(../images/karten/vorhof/-603_-260.jpg)!important; }
#mapx-604y-265 { background-image:url(../images/karten/vorhof/-604_-265.jpg)!important; }
#mapx-605y-260 { background-image:url(../images/karten/vorhof/-605_-260.jpg)!important; }
#mapx-605y-266 { background-image:url(../images/karten/vorhof/-605_-266.jpg)!important; }
#mapx-605y-267 { background-image:url(../images/karten/vorhof/-605_-267.jpg)!important; }
#mapx-606y-261 { background-image:url(../images/karten/vorhof/-606_-261.jpg)!important; }
#mapx-606y-266 { background-image:url(../images/karten/vorhof/-606_-266.jpg)!important; }
#mapx-607y-262 { background-image:url(../images/karten/vorhof/-607_-262.jpg)!important; }
#mapx-607y-266 { background-image:url(../images/karten/vorhof/-607_-266.jpg)!important; }
#mapx-608y-266 { background-image:url(../images/karten/vorhof/-608_-266.jpg)!important; }
#mapx-609y-262 { background-image:url(../images/karten/vorhof/-609_-262.jpg)!important; }
#mapx-610y-264 { background-image:url(../images/karten/vorhof/-610_-264.jpg)!important; }
#mapx-611y-262 { background-image:url(../images/karten/vorhof/-611_-262.jpg)!important; }
#mapx-613y-262 { background-image:url(../images/karten/vorhof/-613_-262.jpg)!important; }
#mapx-605y-265 { background-image:url(../images/karten/vorhof/-605_-265.jpg)!important; }

/*Wald des einsamen Baumes*/
#mapx91y104 { background-image:url(../images/karten/walddeseinsamenbaumes/91_104.jpg)!important; }
#mapx92y99 { background-image:url(../images/karten/walddeseinsamenbaumes/92_99.jpg)!important; }
#mapx93y101 { background-image:url(../images/karten/walddeseinsamenbaumes/93_101.jpg)!important; }
#mapx94y100 { background-image:url(../images/karten/walddeseinsamenbaumes/94_100.jpg)!important; }
#mapx94y102 { background-image:url(../images/karten/walddeseinsamenbaumes/94_102.jpg)!important; }
#mapx94y103 { background-image:url(../images/karten/walddeseinsamenbaumes/94_103.jpg)!important; }
#mapx95y104 { background-image:url(../images/karten/walddeseinsamenbaumes/95_104.jpg)!important; }


/*ENDE-NEU*/

/*Nebelsumpf*/
#mapx-223y-541 { background-image:url(../images/karten/nebelsumpf/-223-541.jpg)!important; }
#mapx-224y-541 { background-image:url(../images/karten/nebelsumpf/-224-541.jpg)!important; }
#mapx-225y-540 { background-image:url(../images/karten/nebelsumpf/-225-540.jpg)!important; }
#mapx-225y-541 { background-image:url(../images/karten/nebelsumpf/-225-541.jpg)!important; }
#mapx-230y-538 { background-image:url(../images/karten/nebelsumpf/-230-538.jpg)!important; }

/*Wilisien*/
#mapx106y81 { background-image:url(../images/karten/wilisien/10681.jpg)!important; }
#mapx106y85 { background-image:url(../images/karten/wilisien/10685.jpg)!important; }
#mapx107y81 { background-image:url(../images/karten/wilisien/10781.jpg)!important; }
#mapx107y83 { background-image:url(../images/karten/wilisien/10783.jpg)!important; }
#mapx107y84 { background-image:url(../images/karten/wilisien/10784.jpg)!important; }
#mapx107y85 { background-image:url(../images/karten/wilisien/10785.jpg)!important; }
#mapx107y86 { background-image:url(../images/karten/wilisien/10786.jpg)!important; }
#mapx108y81 { background-image:url(../images/karten/wilisien/10881.jpg)!important; }
#mapx108y82 { background-image:url(../images/karten/wilisien/10882.jpg)!important; }
#mapx108y85 { background-image:url(../images/karten/wilisien/10885.jpg)!important; }
#mapx108y86 { background-image:url(../images/karten/wilisien/10886.jpg)!important; }
#mapx108y87 { background-image:url(../images/karten/wilisien/10887.jpg)!important; }
#mapx109y83 { background-image:url(../images/karten/wilisien/10983.jpg)!important; }
#mapx109y84 { background-image:url(../images/karten/wilisien/10984.jpg)!important; }
#mapx109y86 { background-image:url(../images/karten/wilisien/10986.jpg)!important; }
#mapx110y84 { background-image:url(../images/karten/wilisien/11084.jpg)!important; }
#mapx110y85 { background-image:url(../images/karten/wilisien/11085.jpg)!important; }
#mapx111y86 { background-image:url(../images/karten/wilisien/11186.jpg)!important; }
#mapx111y87 { background-image:url(../images/karten/wilisien/11187.jpg)!important; }

/*Dorea*/
#mapx110y122 { background-image:url(../images/karten/dorea/110122.jpg)!important; }
#mapx111y124 { background-image:url(../images/karten/dorea/111124.jpg)!important; }
#mapx111y125 { background-image:url(../images/karten/dorea/111125.jpg)!important; }
#mapx112y125 { background-image:url(../images/karten/dorea/112125.jpg)!important; }
#mapx115y125 { background-image:url(../images/karten/dorea/115125.jpg)!important; }
#mapx118y119 { background-image:url(../images/karten/dorea/118119.jpg)!important; }
#mapx118y120 { background-image:url(../images/karten/dorea/118120.jpg)!important; }
#mapx118y124 { background-image:url(../images/karten/dorea/118124.jpg)!important; }
#mapx119y121 { background-image:url(../images/karten/dorea/119121.jpg)!important; }

/*Buran*/
#mapx-185y-94 { background-image:url(../images/karten/buran/-185-94.jpg)!important; }
#mapx-193y-98 { background-image:url(../images/karten/buran/-193-98.jpg)!important; }
#mapx-196y-96 { background-image:url(../images/karten/buran/-196-96.jpg)!important; }
#mapx80y87 { background-image:url(../images/karten/buran/8087.jpg)!important; }
#mapx81y88 { background-image:url(../images/karten/buran/8188.jpg)!important; }
#mapx81y89 { background-image:url(../images/karten/buran/8189.jpg)!important; }
#mapx82y87 { background-image:url(../images/karten/buran/8287.jpg)!important; }
#mapx82y90 { background-image:url(../images/karten/buran/8290.jpg)!important; }
#mapx84y88 { background-image:url(../images/karten/buran/8488.jpg)!important; }

/*No NPC*/

/*Azul*/
#mapx104y123 {background-image:url(../images/karten/nonpc/104123.jpg)!important;}
#mapx107y124 {background-image:url(../images/karten/nonpc/107124.jpg)!important;}
#mapx104y125 {background-image:url(../images/karten/nonpc/104125.jpg)!important;}

/*Blatenien*/
#mapx82y105 {background-image:url(../images/karten/nonpc/82105.jpg)!important;}
#mapx85y106 {background-image:url(../images/karten/nonpc/85106.jpg)!important;}
#mapx86y107 {background-image:url(../images/karten/nonpc/86107.jpg)!important;}
#mapx85y108 {background-image:url(../images/karten/nonpc/85108.jpg)!important;}
#mapx86y109 {background-image:url(../images/karten/nonpc/86109.jpg)!important;}

/*Brondor*/
#mapx125y88 {background-image:url(../images/karten/nonpc/12588.jpg)!important;}

/*Buran*/
#mapx80y91 {background-image:url(../images/karten/nonpc/8091.jpg)!important;}
#mapx81y83 {background-image:url(../images/karten/nonpc/8183.jpg)!important;}
#mapx81y84 {background-image:url(../images/karten/nonpc/8184.jpg)!important;}
#mapx82y82 {background-image:url(../images/karten/nonpc/8282.jpg)!important;}
#mapx82y84 {background-image:url(../images/karten/nonpc/8284.jpg)!important;}
#mapx82y91 {background-image:url(../images/karten/nonpc/8291.jpg)!important;}
#mapx83y81 {background-image:url(../images/karten/nonpc/8381.jpg)!important;}
#mapx83y83 {background-image:url(../images/karten/nonpc/8383.jpg)!important;}
#mapx84y83 {background-image:url(../images/karten/nonpc/8483.jpg)!important;}
#mapx85y90 {background-image:url(../images/karten/nonpc/8590.jpg)!important;}
#mapx86y85 {background-image:url(../images/karten/nonpc/8685.jpg)!important;}
#mapx86y87 {background-image:url(../images/karten/nonpc/8687.jpg)!important;}
#mapx86y90 {background-image:url(../images/karten/nonpc/8690.jpg)!important;}
#mapx87y87 {background-image:url(../images/karten/nonpc/8787.jpg)!important;}

/*Delos*/
#mapx65y90 {background-image:url(../images/karten/nonpc/6590.jpg)!important;}
#mapx66y90 {background-image:url(../images/karten/nonpc/6690.jpg)!important;}
#mapx67y90 {background-image:url(../images/karten/nonpc/6790.jpg)!important;}
#mapx68y90 {background-image:url(../images/karten/nonpc/6890.jpg)!important;}
#mapx61y94 {background-image:url(../images/karten/nonpc/6194.jpg)!important;}
#mapx68y94 {background-image:url(../images/karten/nonpc/6894.jpg)!important;}
#mapx62y95 {background-image:url(../images/karten/nonpc/6295.jpg)!important;}
#mapx68y95 {background-image:url(../images/karten/nonpc/6895.jpg)!important;}
#mapx68y96 {background-image:url(../images/karten/nonpc/6896.jpg)!important;}
#mapx63y97 {background-image:url(../images/karten/nonpc/6397.jpg)!important;}

/*Dorea*/
#mapx117y120 {background-image:url(../images/karten/nonpc/117120.jpg)!important;}

/*Dranar*/
#mapx58y95 {background-image:url(../images/karten/nonpc/5895.jpg)!important;}
#mapx56y100 {background-image:url(../images/karten/nonpc/56100.jpg)!important;}
#mapx60y100 {background-image:url(../images/karten/nonpc/60100.jpg)!important;}

/*Felsendorf*/
#mapx84y97 {background-image:url(../images/karten/nonpc/8497.jpg)!important;}
#mapx87y97 {background-image:url(../images/karten/nonpc/8797.jpg)!important;}

/*Ferdolien*/
#mapx100y88 {background-image:url(../images/karten/nonpc/10088.jpg)!important;}
#mapx106y90 {background-image:url(../images/karten/nonpc/10690.jpg)!important;}
#mapx109y91 {background-image:url(../images/karten/nonpc/10991.jpg)!important;}
#mapx100y94 {background-image:url(../images/karten/nonpc/10094.jpg)!important;}
#mapx104y94 {background-image:url(../images/karten/nonpc/10494.jpg)!important;}
#mapx107y94 {background-image:url(../images/karten/nonpc/10794.jpg)!important;}
#mapx106y95 {background-image:url(../images/karten/nonpc/10695.jpg)!important;}
#mapx97y96 {background-image:url(../images/karten/nonpc/9796.jpg)!important;}
#mapx108y96 {background-image:url(../images/karten/nonpc/10896.jpg)!important;}
#mapx108y97 {background-image:url(../images/karten/nonpc/10897.jpg)!important;}

/*groﬂer Fluss*/
#mapx94y90 {background-image:url(../images/karten/nonpc/9490.jpg)!important;}
#mapx94y93 {background-image:url(../images/karten/nonpc/9493.jpg)!important;}

/*Hewien*/
#mapx90y88 {background-image:url(../images/karten/nonpc/9088.jpg)!important;}
#mapx88y89 {background-image:url(../images/karten/nonpc/8889.jpg)!important;}
#mapx89y89 {background-image:url(../images/karten/nonpc/8989.jpg)!important;}
#mapx92y89 {background-image:url(../images/karten/nonpc/9289.jpg)!important;}
#mapx87y90 {background-image:url(../images/karten/nonpc/8790.jpg)!important;}
#mapx92y92 {background-image:url(../images/karten/nonpc/9292.jpg)!important;}

/*Kanobien*/
#mapx73y96 {background-image:url(../images/karten/nonpc/7396.jpg)!important;}
#mapx72y98 {background-image:url(../images/karten/nonpc/7298.jpg)!important;}
#mapx71y101 {background-image:url(../images/karten/nonpc/71101.jpg)!important;}
#mapx70y102 {background-image:url(../images/karten/nonpc/70102.jpg)!important;}

/*Kerdis*/
#mapx90y113 {background-image:url(../images/karten/nonpc/90113.jpg)!important;}
#mapx93y113 {background-image:url(../images/karten/nonpc/93113.jpg)!important;}
#mapx90y115 {background-image:url(../images/karten/nonpc/90115.jpg)!important;}
#mapx88y117 {background-image:url(../images/karten/nonpc/88117.jpg)!important;}
#mapx88y118 {background-image:url(../images/karten/nonpc/88118.jpg)!important;}
#mapx89y118 {background-image:url(../images/karten/nonpc/89118.jpg)!important;}

/*Kolun*/
#mapx66y85 {background-image:url(../images/karten/nonpc/6685.jpg)!important;}
#mapx62y87 {background-image:url(../images/karten/nonpc/6287.jpg)!important;}

/*Krato*/
#mapx58y106 {background-image:url(../images/karten/nonpc/58106.jpg)!important;}

/*Kuridan*/
#mapx122y96 {background-image:url(../images/karten/nonpc/12296.jpg)!important;}
#mapx114y98 {background-image:url(../images/karten/nonpc/11498.jpg)!important;}
#mapx113y99 {background-image:url(../images/karten/nonpc/11399.jpg)!important;}
#mapx117y100 {background-image:url(../images/karten/nonpc/117100.jpg)!important;}
#mapx119y100 {background-image:url(../images/karten/nonpc/119100.jpg)!important;}
#mapx116y101 {background-image:url(../images/karten/nonpc/116101.jpg)!important;}
#mapx117y106 {background-image:url(../images/karten/nonpc/117106.jpg)!important;}
#mapx118y106 {background-image:url(../images/karten/nonpc/118106.jpg)!important;}
#mapx117y107 {background-image:url(../images/karten/nonpc/117107.jpg)!important;}

/*Lardikia*/
#mapx122y113 {background-image:url(../images/karten/nonpc/122113.jpg)!important;}
#mapx116y115 {background-image:url(../images/karten/nonpc/116115.jpg)!important;}
#mapx120y115 {background-image:url(../images/karten/nonpc/120115.jpg)!important;}
#mapx116y116 {background-image:url(../images/karten/nonpc/116116.jpg)!important;}
#mapx118y116 {background-image:url(../images/karten/nonpc/118116.jpg)!important;}
#mapx120y116 {background-image:url(../images/karten/nonpc/120116.jpg)!important;}
#mapx121y116 {background-image:url(../images/karten/nonpc/121116.jpg)!important;}
#mapx114y117 {background-image:url(../images/karten/nonpc/114117.jpg)!important;}
#mapx115y117 {background-image:url(../images/karten/nonpc/115117.jpg)!important;}
#mapx117y117 {background-image:url(../images/karten/nonpc/117117.jpg)!important;}
#mapx118y117 {background-image:url(../images/karten/nonpc/117117.jpg)!important;}

/*Latenia*/
#mapx90y82 {background-image:url(../images/karten/nonpc/9082.jpg)!important;}
#mapx90y84 {background-image:url(../images/karten/nonpc/9084.jpg)!important;}
#mapx96y84 {background-image:url(../images/karten/nonpc/9684.jpg)!important;}
#mapx92y87 {background-image:url(../images/karten/nonpc/9287.jpg)!important;}
#mapx92y88 {background-image:url(../images/karten/nonpc/9288.jpg)!important;}

/*Linya*/
#mapx138y114 {background-image:url(../images/karten/nonpc/138114.jpg)!important;}
#mapx134y115 {background-image:url(../images/karten/nonpc/134115.jpg)!important;}
#mapx133y116 {background-image:url(../images/karten/nonpc/133116.jpg)!important;}
#mapx132y117 {background-image:url(../images/karten/nonpc/132117.jpg)!important;}
#mapx138y118 {background-image:url(../images/karten/nonpc/138118.jpg)!important;}

/*Loranien*/
#mapx89y111 {background-image:url(../images/karten/nonpc/89111.jpg)!important;}
#mapx84y112 {background-image:url(../images/karten/nonpc/84112.jpg)!important;}
#mapx87y112 {background-image:url(../images/karten/nonpc/87112.jpg)!important;}
#mapx86y113 {background-image:url(../images/karten/nonpc/86113.jpg)!important;}
#mapx78y115 {background-image:url(../images/karten/nonpc/78115.jpg)!important;}
#mapx77y116 {background-image:url(../images/karten/nonpc/77116.jpg)!important;}
#mapx79y117 {background-image:url(../images/karten/nonpc/79117.jpg)!important;}
#mapx80y117 {background-image:url(../images/karten/nonpc/80117.jpg)!important;}
#mapx82y117 {background-image:url(../images/karten/nonpc/82117.jpg)!important;}
#mapx84y117 {background-image:url(../images/karten/nonpc/84117.jpg)!important;}
#mapx83y118 {background-image:url(../images/karten/nonpc/83118.jpg)!important;}
#mapx80y119 {background-image:url(../images/karten/nonpc/80119.jpg)!important;}

/*Mentoran*/
#mapx96y117 {background-image:url(../images/karten/nonpc/96117.jpg)!important;}
#mapx97y112 {background-image:url(../images/karten/nonpc/97112.jpg)!important;}
#mapx98y120 {background-image:url(../images/karten/nonpc/98120.jpg)!important;}
#mapx99y113 {background-image:url(../images/karten/nonpc/99113.jpg)!important;}
#mapx99y115 {background-image:url(../images/karten/nonpc/99115.jpg)!important;}
#mapx99y118 {background-image:url(../images/karten/nonpc/99118.jpg)!important;}
#mapx101y118 {background-image:url(../images/karten/nonpc/101118.jpg)!important;}
#mapx101y116 {background-image:url(../images/karten/nonpc/101116.jpg)!important;}
#mapx101y117 {background-image:url(../images/karten/nonpc/101117.jpg)!important;}
#mapx101y119 {background-image:url(../images/karten/nonpc/101119.jpg)!important;}
#mapx103y115 {background-image:url(../images/karten/nonpc/103115.jpg)!important;}
#mapx103y117 {background-image:url(../images/karten/nonpc/103117.jpg)!important;}
#mapx103y119 {background-image:url(../images/karten/nonpc/103119.jpg)!important;}
#mapx104y114 {background-image:url(../images/karten/nonpc/104114.jpg)!important;}
#mapx104y117 {background-image:url(../images/karten/nonpc/104117.jpg)!important;}

/*Narubia*/
#mapx499y53 {background-image:url(../images/karten/nonpc/49953.jpg)!important;}
#mapx503y53 {background-image:url(../images/karten/nonpc/50353.jpg)!important;}
#mapx501y54 {background-image:url(../images/karten/nonpc/50154.jpg)!important;}
#mapx506y55 {background-image:url(../images/karten/nonpc/50655.jpg)!important;}
#mapx507y55 {background-image:url(../images/karten/nonpc/50755.jpg)!important;}
#mapx500y56 {background-image:url(../images/karten/nonpc/50056.jpg)!important;}
#mapx501y57 {background-image:url(../images/karten/nonpc/50157.jpg)!important;}
#mapx507y57 {background-image:url(../images/karten/nonpc/50757.jpg)!important;}
#mapx508y57 {background-image:url(../images/karten/nonpc/50857.jpg)!important;}

/*Nawor*/
#mapx100y104 {background-image:url(../images/karten/nonpc/100104.jpg)!important;}
#mapx104y104 {background-image:url(../images/karten/nonpc/104104.jpg)!important;}
#mapx105y106 {background-image:url(../images/karten/nonpc/105106.jpg)!important;}
#mapx106y106 {background-image:url(../images/karten/nonpc/106106.jpg)!important;}
#mapx113y106 {background-image:url(../images/karten/nonpc/113106.jpg)!important;}
#mapx100y107 {background-image:url(../images/karten/nonpc/100107.jpg)!important;}
#mapx102y107 {background-image:url(../images/karten/nonpc/102107.jpg)!important;}
#mapx105y108 {background-image:url(../images/karten/nonpc/105108.jpg)!important;}
#mapx105y111 {background-image:url(../images/karten/nonpc/105111.jpg)!important;}
#mapx110y111 {background-image:url(../images/karten/nonpc/110111.jpg)!important;}
#mapx102y112 {background-image:url(../images/karten/nonpc/102112.jpg)!important;}

/*Orewu*/
#mapx108y113 {background-image:url(../images/karten/nonpc/108113.jpg)!important;}
#mapx112y113 {background-image:url(../images/karten/nonpc/112113.jpg)!important;}
#mapx114y114 {background-image:url(../images/karten/nonpc/114114.jpg)!important;}
#mapx105y115 {background-image:url(../images/karten/nonpc/105115.jpg)!important;}
#mapx110y115 {background-image:url(../images/karten/nonpc/110115.jpg)!important;}
#mapx114y116 {background-image:url(../images/karten/nonpc/114116.jpg)!important;}

/*Plefir*/
#mapx79y105 {background-image:url(../images/karten/nonpc/79105.jpg)!important;}
#mapx79y106 {background-image:url(../images/karten/nonpc/79106.jpg)!important;}
#mapx76y110 {background-image:url(../images/karten/nonpc/76110.jpg)!important;}
#mapx79y110 {background-image:url(../images/karten/nonpc/79110.jpg)!important;}
#mapx84y110 {background-image:url(../images/karten/nonpc/84110.jpg)!important;}

/*Reikan*/
#mapx96y106 {background-image:url(../images/karten/nonpc/96106.jpg)!important;}
#mapx96y107 {background-image:url(../images/karten/nonpc/96107.jpg)!important;}
#mapx97y107 {background-image:url(../images/karten/nonpc/97107.jpg)!important;}
#mapx92y108 {background-image:url(../images/karten/nonpc/92108.jpg)!important;}
#mapx95y108 {background-image:url(../images/karten/nonpc/95108.jpg)!important;}
#mapx94y109 {background-image:url(../images/karten/nonpc/94109.jpg)!important;}
#mapx96y109 {background-image:url(../images/karten/nonpc/96109.jpg)!important;}
#mapx98y109 {background-image:url(../images/karten/nonpc/98109.jpg)!important;}
#mapx96y110 {background-image:url(../images/karten/nonpc/96110.jpg)!important;}
#mapx94y111 {background-image:url(../images/karten/nonpc/94111.jpg)!important;}
#mapx98y111 {background-image:url(../images/karten/nonpc/98111.jpg)!important;}
#mapx95y112 {background-image:url(../images/karten/nonpc/95112.jpg)!important;}


/*Ryn*/
#mapx129y85 {background-image:url(../images/karten/nonpc/12985.jpg)!important;}

/*Schlucht der Sandsteine*/
#mapx87y94 {background-image:url(../images/karten/nonpc/8794.jpg)!important;}
#mapx86y95 {background-image:url(../images/karten/nonpc/8695.jpg)!important;}
#mapx89y95 {background-image:url(../images/karten/nonpc/8995.jpg)!important;}
#mapx90y95 {background-image:url(../images/karten/nonpc/9095.jpg)!important;}
#mapx85y96 {background-image:url(../images/karten/nonpc/8596.jpg)!important;}

/*Sutranien*/
#mapx77y87 {background-image:url(../images/karten/nonpc/7787.jpg)!important;}
#mapx78y88 {background-image:url(../images/karten/nonpc/7888.jpg)!important;}
#mapx77y89 {background-image:url(../images/karten/nonpc/7789.jpg)!important;}
#mapx78y89 {background-image:url(../images/karten/nonpc/7889.jpg)!important;}
#mapx71y90 {background-image:url(../images/karten/nonpc/7190.jpg)!important;}
#mapx73y90 {background-image:url(../images/karten/nonpc/7390.jpg)!important;}
#mapx75y90 {background-image:url(../images/karten/nonpc/7590.jpg)!important;}
#mapx76y91 {background-image:url(../images/karten/nonpc/7691.jpg)!important;}
#mapx72y92 {background-image:url(../images/karten/nonpc/7292.jpg)!important;}
#mapx75y92 {background-image:url(../images/karten/nonpc/7592.jpg)!important;}
#mapx74y94 {background-image:url(../images/karten/nonpc/7494.jpg)!important;}
#mapx76y94 {background-image:url(../images/karten/nonpc/7694.jpg)!important;}
#mapx75y95 {background-image:url(../images/karten/nonpc/7595.jpg)!important;}
#mapx76y95 {background-image:url(../images/karten/nonpc/7695.jpg)!important;}
#mapx77y95 {background-image:url(../images/karten/nonpc/7795.jpg)!important;}
#mapx75y96 {background-image:url(../images/karten/nonpc/7596.jpg)!important;}
#mapx76y96 {background-image:url(../images/karten/nonpc/7696.jpg)!important;}
#mapx76y97 {background-image:url(../images/karten/nonpc/7697.jpg)!important;}
#mapx77y97 {background-image:url(../images/karten/nonpc/7797.jpg)!important;}

/*Tal der Ruinen*/
#mapx91y95 {background-image:url(../images/karten/nonpc/9195.jpg)!important;}
#mapx89y97 {background-image:url(../images/karten/nonpc/8997.jpg)!important;}
#mapx90y98 {background-image:url(../images/karten/nonpc/9098.jpg)!important;}

/*Tanien*/
#mapx60y111 {background-image:url(../images/karten/nonpc/60111.jpg)!important;}
#mapx62y113 {background-image:url(../images/karten/nonpc/62113.jpg)!important;}
#mapx57y115 {background-image:url(../images/karten/nonpc/57115.jpg)!important;}

/*Terasi*/
#mapx65y109 {background-image:url(../images/karten/nonpc/65109.jpg)!important;}
#mapx68y109 {background-image:url(../images/karten/nonpc/68109.jpg)!important;}
#mapx65y112 {background-image:url(../images/karten/nonpc/65112.jpg)!important;}
#mapx68y116 {background-image:url(../images/karten/nonpc/68116.jpg)!important;}
#mapx69y116 {background-image:url(../images/karten/nonpc/69116.jpg)!important;}

/*Terbat*/
#mapx104y100 {background-image:url(../images/karten/nonpc/104100.jpg)!important;}
#mapx105y100 {background-image:url(../images/karten/nonpc/105100.jpg)!important;}
#mapx109y100 {background-image:url(../images/karten/nonpc/109100.jpg)!important;}

/*Torihn*/
#mapx112y91 {background-image:url(../images/karten/nonpc/11291.jpg)!important;}
#mapx118y91 {background-image:url(../images/karten/nonpc/11891.jpg)!important;}
#mapx122y91 {background-image:url(../images/karten/nonpc/12291.jpg)!important;}
#mapx110y93 {background-image:url(../images/karten/nonpc/11093.jpg)!important;}
#mapx113y93 {background-image:url(../images/karten/nonpc/11393.jpg)!important;}
#mapx119y93 {background-image:url(../images/karten/nonpc/11993.jpg)!important;}
#mapx115y94 {background-image:url(../images/karten/nonpc/11594.jpg)!important;}
#mapx117y94 {background-image:url(../images/karten/nonpc/11794.jpg)!important;}
#mapx111y96 {background-image:url(../images/karten/nonpc/11196.jpg)!important;}
#mapx112y97 {background-image:url(../images/karten/nonpc/11297.jpg)!important;}

/*unbekannte Wiese*/
#mapx97y90 {background-image:url(../images/karten/nonpc/9790.jpg)!important;}
#mapx97y91 {background-image:url(../images/karten/nonpc/9791.jpg)!important;}
#mapx98y91 {background-image:url(../images/karten/nonpc/9891.jpg)!important;}

/*Urdanien*/
#mapx74y83 {background-image:url(../images/karten/nonpc/7483.jpg)!important;}
#mapx75y83 {background-image:url(../images/karten/nonpc/7583.jpg)!important;}
#mapx75y86 {background-image:url(../images/karten/nonpc/7586.jpg)!important;}
#mapx75y87 {background-image:url(../images/karten/nonpc/7587.jpg)!important;}

/*Wilisien*/
#mapx111y82 {background-image:url(../images/karten/nonpc/11182.jpg)!important;}
#mapx110y83 {background-image:url(../images/karten/nonpc/11083.jpg)!important;}
#mapx111y83 {background-image:url(../images/karten/nonpc/11183.jpg)!important;}
#mapx112y83 {background-image:url(../images/karten/nonpc/11283.jpg)!important;}
#mapx106y86 {background-image:url(../images/karten/nonpc/10686.jpg)!important;}