/*Bernsteinfeder made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Bernsteinfeder',"]{color:#cc0000;}
/*Blassaugenfisch made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Blassaugenfisch',"]{color:#cc0000;}
/*blaues Igelherz made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('blaues Igelherz',"]{color:#cc0000;}
/*Borstenpanzer made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Borstenpanzer',"]{color:#cc0000;}
/*bronzene Jerodar-Halskette made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('bronzene Jerodar-Halskette',"]{color:#cc0000;}
/*Brot der Nomaden made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Brot der Nomaden',"]{color:#cc0000;}
/*Buch der Angriffsenergie made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Buch der Angriffsenergie',"]{color:#cc0000;}
/*Altes Relikt made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Altes Relikt',"]{color:#cc0000;}
/*Buch des Ausgrabungswissens made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Buch des Ausgrabungswissens',"]{color:#cc0000;}
/*Eisstachel made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Eisstachel',"]{color:#cc0000;}
/*Felsenwurmschild made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Felsenwurmschild',"]{color:#cc0000;}
/*Fernheilzauber made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Fernheilzauber',"]{color:#cc0000;}
/*Fernschutzzauber made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Fernschutzzauber',"]{color:#cc0000;}
/*Feuerwalze made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Feuerwalze',"]{color:#cc0000;}
/*Feuriges Ornament made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Feuriges Ornament',"]{color:#cc0000;}
/*Flasche Sumpfgas made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Flasche Sumpfgas',"]{color:#cc0000;}
/*gelber Ring des Schutzes made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('gelber Ring des Schutzes',"]{color:#cc0000;}
/*Giftdolch der H‰ndler made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Giftdolch der H‰ndler',"]{color:#cc0000;}
/*Godnugget made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Godnugget',"]{color:#cc0000;}
/*Goldflosse made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Goldflosse',"]{color:#cc0000;}
/*Goldkrebspanzer made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Goldkrebspanzer',"]{color:#cc0000;}
/*Goldnugget made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Goldnugget',"]{color:#cc0000;}
/*Goldschwert made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Goldschwert',"]{color:#cc0000;}
/*Goldstaub made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Goldstaub',"]{color:#cc0000;}
/*groﬂe Axt made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('groﬂe Axt',"]{color:#cc0000;}
/*groﬂer Heiltrank made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('groﬂer Heiltrank',"]{color:#cc0000;}
/*Gruppenheilzauber made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Gruppenheilzauber',"]{color:#cc0000;}
/*Hasenfell made by Quetschenpaua*/
td.areadescription class b[onmouseover^="tt('Hasenfell',"]{color:#cc0000;}
/*Hautbrand made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Hautbrand',"]{color:#cc0000;}
/*Heilender Regen made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Heilender Regen',"]{color:#cc0000;}
/*Horn des Teidams made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Horn des Teidams',"]{color:#cc0000;}
/*Kleiner Anh‰nger made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Kleiner Anh‰nger',"]{color:#cc0000;}
/*Kraftfaden made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Kraftfaden',"]{color:#cc0000;}
/*Kristall der Heilung made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Kristall der Heilung',"]{color:#cc0000;}
/*Kristall des Schmerzes made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Kristall des Schmerzes',"]{color:#cc0000;}
/*Krustenk‰ferpanzer made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Krustenk‰ferpanzer',"]{color:#cc0000;}
/*Langzahn made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Langzahn',"]{color:#cc0000;}
/*lebendes Wasser made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('lebendes Wasser',"]{color:#cc0000;}
/*Lianenpeitsche made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Lianenpeitsche',"]{color:#cc0000;}
/*Madenstachel made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Madenstachel',"]{color:#cc0000;}
/*Nebel der Teleportation made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Nebel der Teleportation',"]{color:#cc0000;}
/*Nebelkristall made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Nebelkristall',"]{color:#cc0000;}
/*Nolulawurzel made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Nolulawurzel',"]{color:#cc0000;}
/*Notizblock made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Notizblock',"]{color:#cc0000;}
/*Nudelholz made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Nudelholz',"]{color:#cc0000;}
/*Pflanzengift made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Pflanzengift',"]{color:#cc0000;}
/*Postvogel made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Postvogel',"]{color:#cc0000;}
/*Regenstab made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Regenstab',"]{color:#cc0000;}
/*rostiges Schwert made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('rostiges Schwert',"]{color:#cc0000;}
/*Sandstab made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Sandstab',"]{color:#cc0000;}
/*Schlangengift made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Schlangengift',"]{color:#cc0000;}
/*schwache Herbeirufung der Geistlosen made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('schwache Herbeirufung der Geistlosen',"]{color:#cc0000;}
/*seltsamer Trank made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('seltsamer Trank',"]{color:#cc0000;}
/*Siegel der Beute made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Siegel der Beute',"]{color:#cc0000;}
/*Silberbarren made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Silberbarren',"]{color:#cc0000;}
/*Silberfuchsfell made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Silberfuchsfell',"]{color:#cc0000;}
/*silberne Jerodar-Halskette made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('silberne Jerodar-Halskette',"]{color:#cc0000;}
/*Sorus-Kapsel made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Sorus-Kapsel',"]{color:#cc0000;}
/*Stab der Entgiftung made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Stab der Entgiftung',"]{color:#cc0000;}
/*Stahlanzug made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Stahlanzug',"]{color:#cc0000;}
/*Staubschleifer-Ei made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Staubschleifer-Ei',"]{color:#cc0000;}
/*Stierhoden made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Stierhoden',"]{color:#cc0000;}
/*Teidam-Fansticker made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Teidam-Fansticker',"]{color:#cc0000;}
/*Trockenwurmpanzer made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Trockenwurmpanzer',"]{color:#cc0000;}
/*Tropfstein made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Tropfstein',"]{color:#cc0000;}
/*unreines Ingerium made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('unreines Ingerium',"]{color:#cc0000;}
/*Vulkanschwert made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Vulkanschwert',"]{color:#cc0000;}
/*Waldschlurchpanzer made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Waldschlurchpanzer',"]{color:#cc0000;}
/*zerbrochene Jerodar-Halskette made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('zerbrochene Jerodar-Halskette',"]{color:#cc0000;}
