/*Buch der Phasenenergiemaximierung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Buch der Phasenenergiemaximierung',"]{color:#0000FF;}
/*Drehscheibe der inneren Macht made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Drehscheibe der inneren Macht',"]{color:#0000FF;}
/*Meisterhammer made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Meisterhammer',"]{color:#0000FF;}
/*Statue der großen Kraft made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Statue der großen Kraft',"]{color:#0000FF;}
/*Stab der Heilung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Stab der Heilung',"]{color:#0000FF;}
/*Ausgebrannter Geisterschild made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Ausgebrannter Geisterschild',"]{color:#0000FF;}
/*Blauer Stein der Selbstheilung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Blauer Stein der Selbstheilung',"]{color:#0000FF;}
/*Goldener Zaubertopf made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Goldener Zaubertopf',"]{color:#0000FF;}
/*Stab der knisternden Heilung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Stab der knisternden Heilung',"]{color:#0000FF;}
/*Koloa-Mühle made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Koloa-Mühle',"]{color:#0000FF;}
/*Kugelstampfer made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Kugelstampfer',"]{color:#0000FF;}
/*Ausgrabungsschaufel made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Ausgrabungsschaufel',"]{color:#0000FF;}
/*Zauberkugel-Klebemaschine made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Zauberkugel-Klebemaschine',"]{color:#0000FF;}
/*Fels der Phasenselbstheilung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Fels der Phasenselbstheilung',"]{color:#0000FF;}
/*Goldwürfel made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Goldwürfel',"]{color:#0000FF;}
/*Defekte Portalmaschine made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Defekte Portalmaschine',"]{color:#0000FF;}
/*Zauberkugelpresse made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Zauberkugelpresse',"]{color:#0000FF;}
/*Buch der Pflanzenkunde made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Buch der Pflanzenkunde',"]{color:#0000FF;}
/*Stab der großen Gruppenheilung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Stab der großen Gruppenheilung',"]{color:#0000FF;}
/*Spiegel der Markthalle made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Spiegel der Markthalle',"]{color:#0000FF;}
/*Seelenkapselmixer made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Seelenkapselmixer',"]{color:#0000FF;}
/*Buch der Labortechnik made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Buch der Labortechnik',"]{color:#0000FF;}
/*Grüner Stein der Selbstheilung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Grüner Stein der Selbstheilung',"]{color:#0000FF;}
/*Buch der Seelenverbindung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Buch der Seelenverbindung',"]{color:#0000FF;}
/*Blaue Perle des Wissens made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Blaue Perle des Wissens',"]{color:#0000FF;}
/*Buch des Zaubertruhenwissens made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Buch des Zaubertruhenwissens',"]{color:#0000FF;}
/*Buch der Handwerkskunst made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Buch der Handwerkskunst',"]{color:#0000FF;}
/*Grüner Kugelschneider made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Grüner Kugelschneider',"]{color:#0000FF;}
/*Sockel des Wissens made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Sockel des Wissens',"]{color:#0000FF;}
/*Splitter der Genesung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Splitter der Genesung',"]{color:#0000FF;}
/*stark durchschlagende Armbrust made by Werwolf*/
td.areadescription table b[onmouseover^="tt('stark durchschlagende Armbrust',"]{color:#0000FF;}
/*blaue Flamme der Ewigkeit made by Werwolf*/
td.areadescription table b[onmouseover^="tt('blaue Flamme der Ewigkeit',"]{color:#0000FF;}
/*grüner Baru-Schleier made by Werwolf*/
td.areadescription table b[onmouseover^="tt('grüner Baru-Schleier',"]{color:#0000FF;}
/*Sockel der Erfahrung made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Sockel der Erfahrung',"]{color:#0000FF;}
/*Portalmaschine made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Portalmaschine',"]{color:#0000FF;}
