/*Amber Feather made by Incognito*/
td.areadescription table b[onmouseover^="tt('Amber Feather',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Amber Feather</span>',"]{color:#cc0000;}
/*Pale-Eyed Fish made by Incognito*/
td.areadescription table b[onmouseover^="tt('Pale-Eyed Fish',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Pale-Eyed Fish</span>',"]{color:#cc0000;}
/*Blue Hedgehog Heart made by Incognito*/
td.areadescription table b[onmouseover^="tt('Blue Hedgehog Heart',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Blue Hedgehog Heart</span>',"]{color:#cc0000;}
/*Bristle Armour made by Incognito*/
td.areadescription table b[onmouseover^="tt('Bristle Armour',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Bristle Armour</span>',"]{color:#cc0000;}
/*Bronze Jerodar Necklace made by Incognito*/
td.areadescription table b[onmouseover^="tt('Bronze Jerodar Necklace',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Bronze Jerodar Necklace</span>',"]{color:#cc0000;}
/*Nomad Bread made by Incognito*/
td.areadescription table b[onmouseover^="tt('Nomad Bread',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Nomad Bread</span>',"]{color:#cc0000;}
/*Old Relic made by Incognito*/
td.areadescription table b[onmouseover^="tt('Old Relic',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Old Relic</span>',"]{color:#cc0000;}
/*Ice Spike made by Incognito*/
td.areadescription table b[onmouseover^="tt('Ice Spike',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Ice Spike</span>',"]{color:#cc0000;}
/*Rockworm Shield made by Incognito*/
td.areadescription table b[onmouseover^="tt('Rockworm Shield',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Rockworm Shield</span>',"]{color:#cc0000;}
/*Remote Healing Spell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Remote Healing Spell',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Remote Healing Spell</span>',"]{color:#cc0000;}
/*Remote Protection Spell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Remote Protection Spell',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Remote Protection Spell</span>',"]{color:#cc0000;}
/*Fire Roller made by Incognito*/
td.areadescription table b[onmouseover^="tt('Fire Roller',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Fire Roller</span>',"]{color:#cc0000;}
/*Fiery Ornament made by Incognito*/
td.areadescription table b[onmouseover^="tt('Fiery Ornament',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Fiery Ornament</span>',"]{color:#cc0000;}
/*Bottle of Marsh Gas made by Incognito*/
td.areadescription table b[onmouseover^="tt('Bottle of Marsh Gas',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Bottle of Marsh Gas</span>',"]{color:#cc0000;}
/*Yellow Ring of Defence made by Incognito*/
td.areadescription table b[onmouseover^="tt('Yellow Ring of Defence',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Yellow Ring of Defence</span>',"]{color:#cc0000;}
/*Golden Fin made by Incognito*/
td.areadescription table b[onmouseover^="tt('Golden Fin',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Golden Fin</span>',"]{color:#cc0000;}
/*Golden Crab Shell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Golden Crab Shell',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Golden Crab Shell</span>',"]{color:#cc0000;}
/*Gold Nugget made by Incognito*/
td.areadescription table b[onmouseover^="tt('Gold Nugget',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Gold Nugget</span>',"]{color:#cc0000;}
/*Golden Sword made by Incognito*/
td.areadescription table b[onmouseover^="tt('Golden Sword',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Golden Sword</span>',"]{color:#cc0000;}
/*Gold Dust made by Incognito*/
td.areadescription table b[onmouseover^="tt('Gold Dust',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Gold Dust</span>',"]{color:#cc0000;}
/*Heavy Axe made by Incognito*/
td.areadescription table b[onmouseover^="tt('Heavy Axe',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Heavy Axe</span>',"]{color:#cc0000;}
/*Large Healing Potion made by Incognito*/
td.areadescription table b[onmouseover^="tt('Large Healing Potion',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Large Healing Potion</span>',"]{color:#cc0000;}
/*Party Healing Spell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Party Healing Spell',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Party Healing Spell</span>',"]{color:#cc0000;}
/*Hare Coat made by Incognito*/
td.areadescription table b[onmouseover^="tt('Hare Coat',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Hare Coat</span>',"]{color:#cc0000;}
/*Searing Flesh made by Incognito*/
td.areadescription table b[onmouseover^="tt('Searing Flesh',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Searing Flesh</span>',"]{color:#cc0000;}
/*Healing Rain made by Incognito*/
td.areadescription table b[onmouseover^="tt('Healing Rain',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Healing Rain</span>',"]{color:#cc0000;}
/*Horn of the Taydam made by Incognito*/
td.areadescription table b[onmouseover^="tt('Horn of the Taydam',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Horn of the Taydam</span>',"]{color:#cc0000;}
/*Small Pendant made by Incognito*/
td.areadescription table b[onmouseover^="tt('Small Pendant',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Small Pendant</span>',"]{color:#cc0000;}
/*Power Thread made by Incognito*/
td.areadescription table b[onmouseover^="tt('Power Thread',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Power Thread</span>',"]{color:#cc0000;}
/*Crystal of Healing made by Incognito*/
td.areadescription table b[onmouseover^="tt('Crystal of Healing',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Crystal of Healing</span>',"]{color:#cc0000;}
/*Crystal of Pain made by Incognito*/
td.areadescription table b[onmouseover^="tt('Crystal of Pain',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Crystal of Pain</span>',"]{color:#cc0000;}
/*Crust Beetle Carapace made by Incognito*/
td.areadescription table b[onmouseover^="tt('Crust Beetle Carapace',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Crust Beetle Carapace</span>',"]{color:#cc0000;}
/*Longtooth made by Incognito*/
td.areadescription table b[onmouseover^="tt('Longtooth',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Longtooth</span>',"]{color:#cc0000;}
/*Living Water made by Incognito*/
td.areadescription table b[onmouseover^="tt('Living Water',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Living Water</span>',"]{color:#cc0000;}
/*Liana Whip made by Incognito*/
td.areadescription table b[onmouseover^="tt('Liana Whip',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Liana Whip</span>',"]{color:#cc0000;}
/*Maggot Sting made by Incognito*/
td.areadescription table b[onmouseover^="tt('Maggot Sting',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Maggot Sting</span>',"]{color:#cc0000;}
/*Mist of Teleportation made by Incognito*/
td.areadescription table b[onmouseover^="tt('Mist of Teleportation',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Mist of Teleportation</span>',"]{color:#cc0000;}
/*Fog Crystal made by Incognito*/
td.areadescription table b[onmouseover^="tt('Fog Crystal',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Fog Crystal</span>',"]{color:#cc0000;}
/*Nolula Root made by Incognito*/
td.areadescription table b[onmouseover^="tt('Nolula Root',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Nolula Root</span>',"]{color:#cc0000;}
/*Notepad made by Incognito*/
td.areadescription table b[onmouseover^="tt('Notepad',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Notepad</span>',"]{color:#cc0000;}
/*Rolling Pin made by Incognito*/
td.areadescription table b[onmouseover^="tt('Rolling Pin',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Rolling Pin</span>',"]{color:#cc0000;}
/*Plant Poison made by Incognito*/
td.areadescription table b[onmouseover^="tt('Plant Poison',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Plant Poison</span>',"]{color:#cc0000;}
/*Mail Bird made by Incognito*/
td.areadescription table b[onmouseover^="tt('Mail Bird',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Mail Bird</span>',"]{color:#cc0000;}
/*Rainstaff made by Incognito*/
td.areadescription table b[onmouseover^="tt('Rainstaff',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Rainstaff</span>',"]{color:#cc0000;}
/*Rusty Sword made by Incognito*/
td.areadescription table b[onmouseover^="tt('Rusty Sword',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Rusty Sword</span>',"]{color:#cc0000;}
/*Sandstaff made by Incognito*/
td.areadescription table b[onmouseover^="tt('Sandstaff',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Sandstaff</span>',"]{color:#cc0000;}
/*Snake Venom made by Incognito*/
td.areadescription table b[onmouseover^="tt('Snake Venom',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Snake Venom</span>',"]{color:#cc0000;}
/*Lesser Summoning of the Mindless made by Incognito*/
td.areadescription table b[onmouseover^="tt('Lesser Summoning of the Mindless',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Lesser Summoning of the Mindless</span>',"]{color:#cc0000;}
/*Peculiar Potion made by Incognito*/
td.areadescription table b[onmouseover^="tt('Peculiar Potion',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Peculiar Potion</span>',"]{color:#cc0000;}
/*Silverfox Coat made by Incognito*/
td.areadescription table b[onmouseover^="tt('Silverfox Coat',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Silverfox Coat</span>',"]{color:#cc0000;}
/*Silver Jerodar Necklace made by Incognito*/
td.areadescription table b[onmouseover^="tt('Silver Jerodar Necklace',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Silver Jerodar Necklace</span>',"]{color:#cc0000;}
/*Sorus Capsule made by Incognito*/
td.areadescription table b[onmouseover^="tt('Sorus Capsule',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Sorus Capsule</span>',"]{color:#cc0000;}
/*Steel Suit made by Incognito*/
td.areadescription table b[onmouseover^="tt('Steel Suit',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Steel Suit</span>',"]{color:#cc0000;}
/*Dust-Grinder Egg made by Incognito*/
td.areadescription table b[onmouseover^="tt('Dust-Grinder Egg',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Dust-Grinder Egg</span>',"]{color:#cc0000;}
/*Bull Testicles made by Incognito*/
td.areadescription table b[onmouseover^="tt('Bull Testicles',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Bull Testicles</span>',"]{color:#cc0000;}
/*Taydam Fanpatch made by Incognito*/
td.areadescription table b[onmouseover^="tt('Taydam Fanpatch',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Taydam Fanpatch</span>',"]{color:#cc0000;}
/*Dryworm Shell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Dryworm Shell',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Dryworm Shell</span>',"]{color:#cc0000;}
/*Stalactite made by Incognito*/
td.areadescription table b[onmouseover^="tt('Stalactite',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Stalactite</span>',"]{color:#cc0000;}
/*Impure Ingerium made by Incognito*/
td.areadescription table b[onmouseover^="tt('Impure Ingerium',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Impure Ingerium</span>',"]{color:#cc0000;}
/*Wood Slurper Shell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Wood Slurper Shell',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Wood Slurper Shell</span>',"]{color:#cc0000;}
/*zerbrochene Jerodar-Halskette made by Incognito*/
td.areadescription table b[onmouseover^="tt('Broken Jerodar Necklace',"]{color:#cc0000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Broken Jerodar Necklace</span>',"]{color:#cc0000;}
