/*barrier tape made by Incognito*/*/
td.areadescription table b[onmouseover^="tt('barrier tape',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>barrier tape</span>',"]{color:#FF8000;}
/*Old Pencil made by Incognito*/*/
td.areadescription table b[onmouseover^="tt('Old Pencil',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Old Pencil</span>',"]{color:#FF8000;}
/*Quest Hall Fishing Rod made by Incognito*/
td.areadescription table b[onmouseover^="tt('Quest Hall Fishing Rod',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Quest Hall Fishing Rod</span>',"]{color:#FF8000;}
/*Collection Bowl made by Incognito*/*/
td.areadescription table b[onmouseover^="tt('Collection Bowl',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Collection Bowl</span>',"]{color:#FF8000;}
/*Collection Bowl filled with Blood made by Incognito*/*/
td.areadescription table b[onmouseover^="tt('Collection Bowl filled with Blood',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Collection Bowl filled with Blood</span>',"]{color:#FF8000;}
/*Quest Hall Thievery Spell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Quest Hall Thievery Spell',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Quest Hall Thievery Spell</span>',"]{color:#FF8000;}
/*Quest Hall Protection Spell made by Incognito*/*/
td.areadescription table b[onmouseover^="tt('Quest Hall Protection Spell',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Quest Hall Protection Spell</span>',"]{color:#FF8000;}
/*Bluecorn Sunflower made by Incognito*/
td.areadescription table b[onmouseover^="tt('Bluecorn Sunflower',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Bluecorn Sunflower</span>',"]{color:#FF8000;}
/*Face Cream made by Incognito*/
td.areadescription table b[onmouseover^="tt('Face Cream',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Face Cream</span>',"]{color:#FF8000;}
/*Spice Beans made by Incognito*/
td.areadescription table b[onmouseover^="tt('Spice Beans',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Spice Beans</span>',"]{color:#FF8000;}
/*Unawing Poison made by Incognito*/
td.areadescription table b[onmouseover^="tt('Unawing Poison',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Unawing Poison</span>',"]{color:#FF8000;}
/*Poisonous Rubbish made by Incognito*/*/
td.areadescription table b[onmouseover^="tt('Poisonous Rubbish',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Poisonous Rubbish</span>',"]{color:#FF8000;}
/*Gold Pan made by Incognito*/
td.areadescription table b[onmouseover^="tt('Gold Pan',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Gold Pan</span>',"]{color:#FF8000;}
/*Ingerium made by Incognito*/*/
td.areadescription table b[onmouseover^="tt('Ingerium',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Ingerium</span>',"]{color:#FF8000;}
/*Cooler Box filled with Tissue Samples made by Incognito*/*/
td.areadescription table b[onmouseover^="tt('Cooler Box filled with Tissue Samples',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Cooler Box filled with Tissue Samples</span>',"]{color:#FF8000;}
/*Shears made by Incognito*/
td.areadescription table b[onmouseover^="tt('Shears',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Shears</span>',"]{color:#FF8000;}
/*Steel Cage made by Incognito*/
td.areadescription table b[onmouseover^="tt('Steel Cage',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Steel Cage</span>',"]{color:#FF8000;}
/*Steak with Eyes made by Incognito*/*/
td.areadescription table b[onmouseover^="tt('Steak with Eyes',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('Steak with Eyes',"]:after {content :' (43gm)'; color:#FF8000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Steak with Eyes</span>',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Steak with Eyes</span>',"]:after {content :' (43gm)'; color:#FF8000; font-size : 9px;}
/*Pet Food made by Incognito*/
td.areadescription table b[onmouseover^="tt('Pet Food',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Pet Food</span>',"]{color:#FF8000;}
/*Dead Tissue Worm made by Incognito*/
td.areadescription table b[onmouseover^="tt('Dead Tissue Worm',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Dead Tissue Worm</span>',"]{color:#FF8000;}
/*Sealed Letter made by Incognito*/
td.areadescription table b[onmouseover^="tt('Sealed Letter',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Sealed Letter</span>',"]{color:#FF8000;}
/*White Carnation made by Incognito*/
td.areadescription table b[onmouseover^="tt('White Carnation',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>White Carnation</span>',"]{color:#FF8000;}
/*Weather Control Crystal made by Incognito*/
td.areadescription table b[onmouseover^="tt('Weather Control Crystal',"]{color:#FF8000;}
td.areadescription table b[onmouseover^="tt('<span class=c>Weather Control Crystal</span>',"]{color:#FF8000;}
