/*Antique Die of Knowledge made by Incognito*/
td.areadescription table b[onmouseover^="tt('Antique Die of Knowledge',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Antique Die of Knowledge',"]:after {content :' (1500gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Antique Die of Knowledge</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Antique Die of Knowledge</span>',"]:after {content :' (1500gm)'; color:#000000; font-size : 9px;}
/*Eye of the Icebird made by Incognito*/
td.areadescription table b[onmouseover^="tt('Eye of the Icebird',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Eye of the Icebird',"]:after {content :' (70gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Eye of the Icebird</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Eye of the Icebird</span>',"]:after {content :' (70gm)'; color:#000000; font-size : 9px;}
/*Artefact of Dranar made by Incognito*/
td.areadescription table b[onmouseover^="tt('Artefact of Dranar',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Artefact of Dranar',"]:after {content :' (200gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Artefact of Dranar</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Artefact of Dranar</span>',"]:after {content :' (200gm)'; color:#000000; font-size : 9px;}
/*Baru Corn made by Incognito*/
td.areadescription table b[onmouseover^="tt('Baru Corn',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Baru Corn',"]:after {content :' (60gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Baru Corn</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Baru Corn</span>',"]:after {content :' (60gm)'; color:#000000; font-size : 9px;}
/*Red Mountain Stone made by Incognito*/
td.areadescription table b[onmouseover^="tt('Red Mountain Stone',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Red Mountain Stone',"]:after {content :' (250gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Red Mountain Stone</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Red Mountain Stone</span>',"]:after {content :' (250gm)'; color:#000000; font-size : 9px;}
/*Resurrection Mist Oil made by Incognito*/
td.areadescription table b[onmouseover^="tt('Resurrection Mist Oil',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Resurrection Mist Oil',"]:after {content :' (2000gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Resurrection Mist Oil</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Resurrection Mist Oil</span>',"]:after {content :' (2000gm)'; color:#000000; font-size : 9px;}
/*Brooch of the Mountain Meadows made by Incognito*/
td.areadescription table b[onmouseover^="tt('Brooch of the Mountain Meadows',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Brooch of the Mountain Meadows',"]:after {content :' (1000gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Brooch of the Mountain Meadows</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Brooch of the Mountain Meadows</span>',"]:after {content :' (1000gm)'; color:#000000; font-size : 9px;}
/*Thievery Spell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Thievery Spell',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Thievery Spell',"]:after {content :' (120gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Thievery Spell</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Thievery Spell</span>',"]:after {content :' (120gm)'; color:#000000; font-size : 9px;}
/*Elixir of Mindless Life Visions made by Incognito*/
td.areadescription table b[onmouseover^="tt('Elixir of Mindless Life Visions',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Elixir of Mindless Life Visions',"]:after {content :' (500gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Elixir of Mindless Life Visions</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Elixir of Mindless Life Visions</span>',"]:after {content :' (500gm)'; color:#000000; font-size : 9px;}
/*Elixir of Health made by Incognito*/
td.areadescription table b[onmouseover^="tt('Elixir of Health',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Elixir of Health',"]:after {content :' (600gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Elixir of Health</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Elixir of Health</span>',"]:after {content :' (600gm)'; color:#000000; font-size : 9px;}
/*Energetic Invocation made by Incognito*/
td.areadescription table b[onmouseover^="tt('Energetic Invocation',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Energetic Invocation',"]:after {content :' (500gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Energetic Invocation</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Energetic Invocation</span>',"]:after {content :' (500gm)'; color:#000000; font-size : 9px;}
/*Energetic Protection Spell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Energetic Protection Spell',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Energetic Protection Spell',"]:after {content :' (500gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Energetic Protection Spell</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Energetic Protection Spell</span>',"]:after {content :' (500gm)'; color:#000000; font-size : 9px;}
/*Fur of Darkness made by Inkognito*/
td.areadescription table b[onmouseover^="tt('Fur of Darkness',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Fur of Darkness',"]:after {content :' (49gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Fur of Darkness</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Fur of Darkness</span>',"]:after {content :' (49gm)'; color:#000000; font-size : 9px;}
/*Flei Gras made by Incognito*/
td.areadescription table b[onmouseover^="tt('Flei Gras',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Flei Gras',"]:after {content :' (100gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Flei Gras</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Flei Gras</span>',"]:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*Meat Flower made by Incognito*/
td.areadescription table b[onmouseover^="tt('Meat Flower',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Meat Flower',"]:after {content :' (25gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Meat Flower</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Meat Flower</span>',"]:after {content :' (25gm)'; color:#000000; font-size : 9px;}
/*Spirit Shard made by Incognito*/
td.areadescription table b[onmouseover^="tt('Spirit Shard',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Spirit Shard',"]:after {content :' (100gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Spirit Shard</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Spirit Shard</span>',"]:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*Compressed Magic Sphere made by Incognito*/
td.areadescription table b[onmouseover^="tt('Compressed Magic Sphere',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Compressed Magic Sphere',"]:after {content :' (108gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Compressed Magic Sphere</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Compressed Magic Sphere</span>',"]:after {content :' (108gm)'; color:#000000; font-size : 9px;}
/*Glodo Fish made by Incognito*/
td.areadescription table b[onmouseover^="tt('Glodo Fish',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Glodo Fish',"]:after {content :' (15gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Glodo Fish</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Glodo Fish</span>',"]:after {content :' (15gm)'; color:#000000; font-size : 9px;}
/*Large Energy Shard made by Incognito*/
td.areadescription table b[onmouseover^="tt('Large Energy Shard',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Large Energy Shard',"]:after {content :' (80gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Large Energy Shard</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Large Energy Shard</span>',"]:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*Home Spell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Home Spell',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Home Spell',"]:after {content :' (18gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Home Spell</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Home Spell</span>',"]:after {content :' (18gm)'; color:#000000; font-size : 9px;}
/*Summoning of the Mindless made by Incognito*/
td.areadescription table b[onmouseover^="tt('Summoning of the Mindless',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Summoning of the Mindless',"]:after {content :' (110gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Summoning of the Mindless</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Summoning of the Mindless</span>',"]:after {content :' (110gm)'; color:#000000; font-size : 9px;}
/*Timber made by Incognito*/
td.areadescription table b[onmouseover^="tt('Timber',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Timber',"]:after {content :' (15gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Timber</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Timber</span>',"]:after {content :' (15gm)'; color:#000000; font-size : 9px;}
/*Cactus Arrow made by Incognito*/
td.areadescription table b[onmouseover^="tt('Cactus Arrow',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Cactus Arrow',"]:after {content :' (30gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Cactus Arrow</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Cactus Arrow</span>',"]:after {content :' (30gm)'; color:#000000; font-size : 9px;}
/*Crystal Sphere made by Incognito*/
td.areadescription table b[onmouseover^="tt('Crystal Sphere',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Crystal Sphere',"]:after {content :' (2000gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Crystal Sphere</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Crystal Sphere</span>',"]:after {content :' (2000gm)'; color:#000000; font-size : 9px;}
/*Cow Head made by Incognito*/
td.areadescription table b[onmouseover^="tt('Cow Head',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Cow Head',"]:after {content :' (35gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Cow Head</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Cow Head</span>',"]:after {content :' (35gm)'; color:#000000; font-size : 9px;}
/*Laraf Blossom made by Incognito*/
td.areadescription table b[onmouseover^="tt('Laraf Blossom',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Laraf Blossom',"]:after {content :' (250gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Laraf Blossom</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Laraf Blossom</span>',"]:after {content :' (250gm)'; color:#000000; font-size : 9px;}
/*Living Fern Leaf made by Incognito*/
td.areadescription table b[onmouseover^="tt('Living Fern Leaf',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Living Fern Leaf',"]:after {content :' (200gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Living Fern Leaf</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Living Fern Leaf</span>',"]:after {content :' (200gm)'; color:#000000; font-size : 9px;}
/*Mara Tuber made by Incognito*/
td.areadescription table b[onmouseover^="tt('Mara Tuber',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Mara Tuber',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Mara Tuber</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Mara Tuber</span>',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Brittlegrass made by Incognito*/
td.areadescription table b[onmouseover^="tt('Brittlegrass',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Brittlegrass',"]:after {content :' (80gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Brittlegrass</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Brittlegrass</span>',"]:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*Greater Banishing Ward made by Incognito*/
td.areadescription table b[onmouseover^="tt('Greater Banishing Ward',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Greater Banishing Ward',"]:after {content :' (200gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Greater Banishing Ward</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Greater Banishing Ward</span>',"]:after {content :' (200gm)'; color:#000000; font-size : 9px;}
/*Nossar Bush made by Incognito*/
td.areadescription table b[onmouseover^="tt('Nossar Bush',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Nossar Bush',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Nossar Bush</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Nossar Bush</span>',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*Onlo Bone made by Incognito*/
td.areadescription table b[onmouseover^="tt('Onlo Bone',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Onlo Bone',"]:after {content :' (54gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Onlo Bone</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Onlo Bone</span>',"]:after {content :' (54gm)'; color:#000000; font-size : 9px;}
/*Pearl of Great Strength made by Inkognito*/
td.areadescription table b[onmouseover^="tt('Pearl of Great Strength',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Pearl of Great Strength',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Pearl of Great Strength</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Pearl of Great Strength</span>',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*Pearl of Strength made by Incognito*/
td.areadescription table b[onmouseover^="tt('Pearl of Strength',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Pearl of Strength',"]:after {content :' (35gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Pearl of Strength</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Pearl of Strength</span>',"]:after {content :' (35gm)'; color:#000000; font-size : 9px;}
/*Arrow made by Incognito*/
td.areadescription table b[onmouseover^="tt('Arrow',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Arrow',"]:after {content :' (30gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Arrow</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Arrow</span>',"]:after {content :' (30gm)'; color:#000000; font-size : 9px;}
/*Phase Sphere made by Incognito*/
td.areadescription table b[onmouseover^="tt('Phase Sphere',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Phase Sphere',"]:after {content :' (13gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Phase Sphere</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Phase Sphere</span>',"]:after {content :' (13gm)'; color:#000000; font-size : 9px;}
/*Red Magic Sphere made by Incognito*/
td.areadescription table b[onmouseover^="tt('Red Magic Sphere',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Red Magic Sphere',"]:after {content :' (45gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Red Magic Sphere</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Red Magic Sphere</span>',"]:after {content :' (45gm)'; color:#000000; font-size : 9px;}
/*Salt Crystal made by Incognito*/
td.areadescription table b[onmouseover^="tt('Salt Crystal',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Salt Crystal',"]:after {content :' (167gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Salt Crystal</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Salt Crystal</span>',"]:after {content :' (167gm)'; color:#000000; font-size : 9px;}
/*Sand Tendril made by Incognito*/
td.areadescription table b[onmouseover^="tt('Sand Tendril',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Sand Tendril',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Sand Tendril</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Sand Tendril</span>',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Protection Spell made by Incognito*/
td.areadescription table b[onmouseover^="tt('Protection Spell',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Protection Spell',"]:after {content :' (220gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Protection Spell</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Protection Spell</span>',"]:after {content :' (220gm)'; color:#000000; font-size : 9px;}
/*Soul Capsule made by Incognito*/
td.areadescription table b[onmouseover^="tt('Soul Capsule',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Soul Capsule',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Soul Capsule</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Soul Capsule</span>',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*Sun Dust made by Incognito*/
td.areadescription table b[onmouseover^="tt('Sun Dust',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Sun Dust',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Sun Dust</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Sun Dust</span>',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Blunt Baru Blade made by Incognito*/
td.areadescription table b[onmouseover^="tt('Blunt Baru Blade',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Blunt Baru Blade',"]:after {content :' (10000gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Blunt Baru Blade</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Blunt Baru Blade</span>',"]:after {content :' (10000gm)'; color:#000000; font-size : 9px;}
/*Dead Desert Mouse made by Incognito*/
td.areadescription table b[onmouseover^="tt('Dead Desert Mouse',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Dead Desert Mouse',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Dead Desert Mouse</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Dead Desert Mouse</span>',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Dead Tar Fish made by Incognito*/
td.areadescription table b[onmouseover^="tt('Dead Tar Fish',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Dead Tar Fish',"]:after {content :' (100gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Dead Tar Fish</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Dead Tar Fish</span>',"]:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*Dry Brushwood made by Incognito*/
td.areadescription table b[onmouseover^="tt('Dry Brushwood',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Dry Brushwood',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Dry Brushwood</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Dry Brushwood</span>',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*unbekannte Pflanzensamen made by Incognito*/
td.areadescription table b[onmouseover^="tt('unbekannte Pflanzensamen',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('unbekannte Pflanzensamen',"]:after {content :' (15gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>unbekannte Pflanzensamen</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>unbekannte Pflanzensamen</span>',"]:after {content :' (15gm)'; color:#000000; font-size : 9px;}
/*Wakrud Mushroom made by Incognito*/
td.areadescription table b[onmouseover^="tt('Wakrud Mushroom',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Wakrud Mushroom',"]:after {content :' (75gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Wakrud Mushroom</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Wakrud Mushroom</span>',"]:after {content :' (75gm)'; color:#000000; font-size : 9px;}
/*Zauber der Selbstheilung  made by impia*/
td.areadescription table b[onmouseover^="tt('Zauber der Selbstheilung',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Zauber der Selbstheilung',"]:after {content :' (25gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Zauber der Selbstheilung</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Zauber der Selbstheilung</span>',"]:after {content :' (25gm)'; color:#000000; font-size : 9px;}
/*Spell of Cloaked Explosions*/
td.areadescription table b[onmouseover^="tt('Spell of Cloaked Explosions',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Spell of Cloaked Explosions',"]:after {content :' (1000gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Spell of Cloaked Explosions</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Spell of Cloaked Explosions</span>',"]:after {content :' (1000gm)'; color:#000000; font-size : 9px;}
/*Magic Puzzle made by Incognito*/
td.areadescription table b[onmouseover^="tt('Magic Puzzle',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Magic Puzzle',"]:after {content :' (200gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Magic Puzzle</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Magic Puzzle</span>',"]:after {content :' (200gm)'; color:#000000; font-size : 9px;}
/*Barrel of Oil made by Incognito*/
td.areadescription table b[onmouseover^="tt('Barrel of Oil',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Barrel of Oil',"]:after {content :' (242gm)'; color:#000000; font-size : 9px;}
td.areadescription table b[onmouseover^="tt('<span class=c>Barrel of Oil</span>',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('<span class=c>Barrel of Oil</span>',"]:after {content :' (242gm)'; color:#000000; font-size : 9px;}
