/*Vorlage*/
/*
Name made by Name | Datum
.listusersrow a[href$='watchuser&act_user_id=']:before{ content:'(E) '; color:#cc0000;}
.friendlist a[href$='watchuser&act_user_id=']:before{ content:'(E) '; color:#cc0000;}
.listusersrow a[href$='watchuser&act_user_id=']:after{ content:' (C)'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=']:after{ content:' (C)'; color:#339966;}
.listusersrow a[href$='watchuser&act_user_id=']:hover:after{ content:' (Charakterf�higkeit(Stufe))'; color:#339966;}
.friendlist a[href$='watchuser&act_user_id=']:hover:after{ content:' (Charakterf�higkeit(Stufe))'; color:#339966;}
*/
