/*antiker Würfel des Wissens mady by Werwolf*/
td.areadescription table b[onmouseover^="tt('antiker Würfel des Wissens',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('antiker Würfel des Wissens',"]:after {content :' (1500gm)'; color:#000000; font-size : 9px;}
/*Auge des Eisvogels mady by Werwolf*/
td.areadescription table b[onmouseover^="tt('Auge des Eisvogels',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Auge des Eisvogels',"]:after {content :' (90gm)'; color:#000000; font-size : 9px;}
/*Artefakt von Dranar made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Artefakt von Dranar',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Artefakt von Dranar',"]:after {content :' (175gm)'; color:#000000; font-size : 9px;}
/*Baru-Getreide made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Baru-Getreide',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Baru-Getreide',"]:after {content :' (23gm)'; color:#000000; font-size : 9px;}
/*betörende Paste made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('betörende Paste',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('betörende Paste',"]:after {content :' (1200gm)'; color:#000000; font-size : 9px;}
/*Brosche der Bergwiesen made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Brosche der Bergwiesen',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Brosche der Bergwiesen',"]:after {content :' (1100gm)'; color:#000000; font-size : 9px;}
/*Diebstahlzauber made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Diebstahlzauber',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Diebstahlzauber',"]:after {content :' (120gm)'; color:#000000; font-size : 9px;}
/*Elixier der geistlosen Lebenssicht made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Elixier der geistlosen Lebenssicht',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Elixier der geistlosen Lebenssicht',"]:after {content :' (500gm)'; color:#000000; font-size : 9px;}
/*Elixier der Gesundheit made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Elixier der Gesundheit',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Elixier der Gesundheit',"]:after {content :' (600gm)'; color:#000000; font-size : 9px;}
/*energetische Beschwörung made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('energetische Beschwörung',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('energetische Beschwörung',"]:after {content :' (500gm)'; color:#000000; font-size : 9px;}
/*energetischer Schutzzauber made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('energetischer Schutzzauber',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('energetischer Schutzzauber',"]:after {content :' (500gm)'; color:#000000; font-size : 9px;}
/*Fell der Finsternis made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Fell der Finsternis',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Fell der Finsternis',"]:after {content :' (45gm)'; color:#000000; font-size : 9px;}
/*Fleegras made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Fleegras',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Fleegras',"]:after {content :' (75gm)'; color:#000000; font-size : 9px;}
/*Fleischblume made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Fleischblume',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Fleischblume',"]:after {content :' (25gm)'; color:#000000; font-size : 9px;}
/*Geisterfunke made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Geisterfunke',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Geisterfunke',"]:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*gepresste Zauberkugel made by Werwolf*/
td.areadescription table b[onmouseover^="tt('gepresste Zauberkugel',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('gepresste Zauberkugel',"]:after {content :' (108gm)'; color:#000000; font-size : 9px;}
/*Glodo-Fisch made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Glodo-Fisch',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Glodo-Fisch',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*großer Energiesplitter made by Werwolf*/
td.areadescription table b[onmouseover^="tt('großer Energiesplitter',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('großer Energiesplitter',"]:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*Heimzauber made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Heimzauber',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Heimzauber',"]:after {content :' (18gm)'; color:#000000; font-size : 9px;}
/*Herbeirufung der Geistlosen made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Herbeirufung der Geistlosen',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Herbeirufung der Geistlosen',"]:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*Holz made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Holz',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Holz',"]:after {content :' (15gm)'; color:#000000; font-size : 9px;}
/*Kaktuspfeil made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Kaktuspfeil',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Kaktuspfeil',"]:after {content :' (30gm)'; color:#000000; font-size : 9px;}
/*Kristallglas made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Kristallglas',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Kristallglas',"]:after {content :' (1800gm)'; color:#000000; font-size : 9px;}
/*Kuhkopf made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Kuhkopf',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Kuhkopf',"]:after {content :' (38gm)'; color:#000000; font-size : 9px;}
/*Larafblüte made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Larafblüte',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Larafblüte',"]:after {content :' (250gm)'; color:#000000; font-size : 9px;}
/*lebendes Farnblatt made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('lebendes Farnblatt',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('lebendes Farnblatt',"]:after {content :' (125gm)'; color:#000000; font-size : 9px;}
/*Mara Knollen made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Mara Knollen',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Mara Knollen',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Mara-Knolle made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Mara-Knolle',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Mara-Knolle',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Mürbegras made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Mürbegras',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Mürbegras',"]:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*mächtiger Wegzauber-Schutz made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('mächtiger Wegzauber-Schutz',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('mächtiger Wegzauber-Schutz',"]:after {content :' (200gm)'; color:#000000; font-size : 9px;}
/*Nossar-Strauch made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Nossar-Strauch',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Nossar-Strauch',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*Onlo-Knochen made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Onlo-Knochen',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Onlo-Knochen',"]:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*Perle der großen Kraft made by Inkognito*/
td.areadescription table b[onmouseover^="tt('Perle der großen Kraft',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Perle der großen Kraft',"]:after {content :' (25gm)'; color:#000000; font-size : 9px;}
/*Perle der Kraft made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Perle der Kraft',"]{color:#339966;}							
td.areadescription table b[onmouseover^="tt('Perle der Kraft',"]:after {content :' (35gm)'; color:#000000; font-size : 9px;}
/*Pfeil made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Pfeil',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Pfeil',"]:after {content :' (35gm)'; color:#000000; font-size : 9px;}
/*rote Zauberkugel made by Werwolf*/
td.areadescription table b[onmouseover^="tt('rote Zauberkugel',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('rote Zauberkugel',"]:after {content :' (45gm)'; color:#000000; font-size : 9px;}
/*Salzkristall made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Salzkristall',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Salzkristall',"]:after {content :' (205gm)'; color:#000000; font-size : 9px;}
/*Sandranke made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Sandranke',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Sandranke',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Schutzzauber made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Schutzzauber',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Schutzzauber',"]:after {content :' (220gm)'; color:#000000; font-size : 9px;}
/*Seelenkapsel made by Werwolf*/
td.areadescription table b[onmouseover^="tt('Seelenkapsel',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Seelenkapsel',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*Sonnenstaub made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Sonnenstaub',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Sonnenstaub',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*stumpfes Baru-Schwert made by Werwolf*/
td.areadescription table b[onmouseover^="tt('stumpfes Baru-Schwert',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('stumpfes Baru-Schwert',"]:after {content :' (10000gm)'; color:#000000; font-size : 9px;}
/*tote Wüstenmaus made by Werwolf*/
td.areadescription table b[onmouseover^="tt('tote Wüstenmaus',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('tote Wüstenmaus',"]:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*toter Tar-Fisch made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('toter Tar-Fisch',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('toter Tar-Fisch',"]:after {content :' (100gm)'; color:#000000; font-size : 9px;}
/*trockenes Gestrüpp made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('trockenes Gestrüpp',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('trockenes Gestrüpp',"]:after {content :' (20gm)'; color:#000000; font-size : 9px;}
/*unbekannte Pflanzensamen made by Werwolf*/
td.areadescription table b[onmouseover^="tt('unbekannte Pflanzensamen',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('unbekannte Pflanzensamen',"]:after {content :' (40gm)'; color:#000000; font-size : 9px;}
/*untote Pflanzensamen made by Werwolf*/
td.areadescription table b[onmouseover^="tt('untote Pflanzensamen',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('untote Pflanzensamen',"]:after {content :' (60gm)'; color:#000000; font-size : 9px;}
/*Wakrudpilz made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Wakrudpilz',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Wakrudpilz',"]:after {content :' (80gm)'; color:#000000; font-size : 9px;}
/*Zauber der Selbstheilung  made by impia*/
td.areadescription table b[onmouseover^="tt('Zauber der Selbstheilung',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Zauber der Selbstheilung',"]:after {content :' (25gm)'; color:#000000; font-size : 9px;}
/*Zauber der unsichtbaren Explosion*/
td.areadescription table b[onmouseover^="tt('Zauber der unsichtbaren Explosion',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Zauber der unsichtbaren Explosion',"]:after {content :' (1000gm)'; color:#000000; font-size : 9px;}
/*Zauberpuzzle made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Zauberpuzzle',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Zauberpuzzle',"]:after {content :' (250gm)'; color:#000000; font-size : 9px;}
/*Ölfass made by Quetschenpaua*/
td.areadescription table b[onmouseover^="tt('Ölfass',"]{color:#339966;}
td.areadescription table b[onmouseover^="tt('Ölfass',"]:after {content :' (245gm)'; color:#000000; font-size : 9px;}
